<div class="awesome">
        <div class="awesome-wrapper">  
            
            <div   class="awesome-card awesome-card--active"   > 
                <div class="awesome-card__wrapper"> 
                    <div class="awesome-card__content"> 
                        <div class="flex">
                            <h3 class="awesome-card__title">
                                | ПОЛУСУХАЯ СТЯЖКА ПОЛА
                            </h3> 
                            <div class="awesome-card__arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                    <path d="M17.1286 12.3743L5.31485 24.2898L0.704094 19.6394L12.3104 7.93312L13.1551 7.08108H11.9553L4.25817 7.08108L4.25817 0.5L24.5 0.5L24.5 20.9248H17.9837V12.7264V11.5119L17.1286 12.3743Z" stroke="white"/>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <div class="awesome-card__description-wrapper">
                                <p class="awesome-card__description"> 
                                    | Полусухая стяжка не требует дополнительного выравнивания, подходит для любого финишного покрытия. Уже через 12 часов по стяжке можно производить некоторые виды отделки.
                                </p>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="260" height="1" viewBox="0 0 260 1" fill="none" data-v-inspector="components/visual/Awesome/CardWrapper.vue:50:25"><line opacity="0.4" y1="0.5" x2="260" y2="0.5" stroke="white" data-v-inspector="components/visual/Awesome/CardWrapper.vue:51:27"></line></svg>
                    </div>
                    <div class="awesome-card__img">
                        <picture>
                            <source srcset="/assets/img/pilesos.png"/>
                            <img loading="lazy"/>
                        </picture>
                    </div>
                </div>
            </div>

            <div   class="awesome-card"   > 
                <div class="awesome-card__wrapper"> 
                    <div class="awesome-card__content"> 
                        <div class="flex">
                            <h3 class="awesome-card__title">
                                | ПОЛУСУХАЯ СТЯЖКА ПОЛА
                            </h3> 
                            <div class="awesome-card__arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                    <path d="M17.1286 12.3743L5.31485 24.2898L0.704094 19.6394L12.3104 7.93312L13.1551 7.08108H11.9553L4.25817 7.08108L4.25817 0.5L24.5 0.5L24.5 20.9248H17.9837V12.7264V11.5119L17.1286 12.3743Z" stroke="white"/>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <div class="awesome-card__description-wrapper">
                                <p class="awesome-card__description"> 
                                    | Полусухая стяжка не требует дополнительного выравнивания, подходит для любого финишного покрытия. Уже через 12 часов по стяжке можно производить некоторые виды отделки.
                                </p>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="260" height="1" viewBox="0 0 260 1" fill="none" data-v-inspector="components/visual/Awesome/CardWrapper.vue:50:25"><line opacity="0.4" y1="0.5" x2="260" y2="0.5" stroke="white" data-v-inspector="components/visual/Awesome/CardWrapper.vue:51:27"></line></svg>
                    </div>
                    <div class="awesome-card__img">
                        <picture>
                            <source srcset="/assets/img/pilesos.png"/>
                            <img loading="lazy" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
</div>