<div   class="blog-element">
        <div class="blog-element__wrapper">
          <div class="blog-element__image-row">
            <div>
                <svg   xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
                <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
                <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
                </svg> 
            </div>
            <picture>
                <source srcset="/assets/img/blog/1.png">
                <img loading="lazy">
            </picture>
          </div> 
          <div class="blog-element__content">
            <h3 class="blog-element__title">
                <a href='#'>Полусухая стяжка пола – современное эффективное решение в строительстве</a>
            </h3>
            <p class="blog-element__preview-text">Комфорт в квартире, офисе или любом другом помещении во многом зависит от качества поверхности пола</p>
          </div> 
        </div>
</div>  