<div class="blog">
    <div class="blog__wrapper">

        include ../includes/blogElement
        include ../includes/blogElement
        include ../includes/blogElement
    </div>
    <div class="blog-pagination">
        <button class="blog-pagination__prev"> 
        </button> 
        <a>1</a> 
        <a>2</a> 
        <a class="blog-pagination__active">3</a>
        <a>12</a>
        <button class="blog-pagination__next"> 
        </button> 
    </div>
</div>