<div class="slider">
    <ul class="slide-track">
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/1.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/2.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/3.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/4.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/5.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/6.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/7.png">
            <img/>
          </picture>
        </div>
      </li>
      <!-- same 9 slides doubled (duplicate) -->
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/1.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/2.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/3.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/4.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/5.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/6.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/7.png">
            <img/>
          </picture>
        </div>
      </li>
      <li class="slide">
        <div class="slide__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="124" viewBox="0 0 21 124" fill="none">
            <line x1="0.5" y1="2.18557e-08" x2="0.499996" y2="82" stroke="#B611B6"/>
            <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="124" stroke="#B611B6"/>
          </svg>
          <picture class="slide__pic">
            <source srcset="/assets/img/partners/1.png">
            <img/>
          </picture>
        </div>
      </li>
    </ul>
</div>