.drop-down-menu#ddmenu
    .closebtn
            #ddmenuoff
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.6569 15.001L29.6563 2.00155C30.114 1.54388 30.114 0.801849 29.6563 0.344233C29.1986 -0.113384 28.4566 -0.113442 27.999 0.344233L14.9995 13.3437L2.00009 0.344233C1.54241 -0.113442 0.800384 -0.113442 0.342768 0.344233C-0.114848 0.801908 -0.114907 1.54394 0.342768 2.00155L13.3422 15.001L0.342768 28.0004C-0.114907 28.4581 -0.114907 29.2001 0.342768 29.6578C0.571576 29.8866 0.871517 30.0009 1.17146 30.0009C1.4714 30.0009 1.77128 29.8866 2.00015 29.6578L14.9995 16.6583L27.9989 29.6578C28.2277 29.8866 28.5277 30.0009 28.8276 30.0009C29.1275 30.0009 29.4274 29.8866 29.6563 29.6578C30.114 29.2001 30.114 28.458 29.6563 28.0004L16.6569 15.001Z" fill="white"/>
                </svg>
    .container.text-white
        .row 
            div  
                .text-16px.flex.gap-3
                    <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.50043 3.22447C4.96492 3.22447 3.71568 4.47372 3.71568 6.00923C3.71568 7.54474 4.96492 8.79398 6.50043 8.79398C8.03593 8.79398 9.28518 7.54474 9.28518 6.00923C9.28518 4.47372 8.03596 3.22447 6.50043 3.22447ZM6.50043 7.62146C5.61145 7.62146 4.8882 6.89821 4.8882 6.00923C4.8882 5.12024 5.61145 4.39699 6.50043 4.39699C7.38941 4.39699 8.11266 5.12024 8.11266 6.00923C8.11266 6.89821 7.38941 7.62146 6.50043 7.62146Z" fill="white"/>
                    <path d="M6.50044 0C3.18693 0 0.491211 2.69575 0.491211 6.00923V6.17534C0.491211 7.85112 1.45197 9.80394 3.34689 11.9794C4.72057 13.5565 6.07505 14.6562 6.132 14.7023L6.50044 15L6.86888 14.7023C6.92586 14.6563 8.28034 13.5566 9.65398 11.9795C11.5489 9.80394 12.5097 7.85115 12.5097 6.17537V6.00926C12.5097 2.69575 9.81395 0 6.50044 0ZM11.3371 6.17537C11.3371 9.00735 7.68819 12.4355 6.50044 13.4762C5.31236 12.4352 1.66373 9.00715 1.66373 6.17537V6.00926C1.66373 3.3423 3.83349 1.17255 6.50044 1.17255C9.16739 1.17255 11.3371 3.3423 11.3371 6.00926V6.17537Z" fill="white"/>
                    </svg>
                    a( href="https://www.google.com/search?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C+%D1%83%D0%BB.+%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B5+%D0%BF%D1%80%D1%83%D0%B4%D1%8B+26%2C+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+2&oq=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C+%D1%83%D0%BB.+%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B5+%D0%BF%D1%80%D1%83%D0%B4%D1%8B+26%2C+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+2&aqs=chrome..69i57j33i22i29i30.768j0j7&sourceid=chrome&ie=UTF-8"
                    )|Москва, ул. Борисовские пруды 26, корпус 2 
                    
                .text-16px.flex.gap-3
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.1723 8.82467L8.08086 7.25611V4.06094C8.08086 3.73967 7.82117 3.47998 7.4999 3.47998C7.17863 3.47998 6.91895 3.73967 6.91895 4.06094V7.54662C6.91895 7.72961 7.00493 7.90217 7.15133 8.01139L9.4751 9.75423C9.57966 9.83266 9.70168 9.87042 9.82309 9.87042C10.0003 9.87042 10.1746 9.79082 10.2884 9.63745C10.4814 9.38122 10.4291 9.01697 10.1723 8.82467Z" fill="white"/>
                    <path d="M7.5 0C3.36425 0 0 3.36425 0 7.5C0 11.6358 3.36425 15 7.5 15C11.6358 15 15 11.6358 15 7.5C15 3.36425 11.6358 0 7.5 0ZM7.5 13.8381C4.00562 13.8381 1.16188 10.9944 1.16188 7.5C1.16188 4.00562 4.00562 1.16188 7.5 1.16188C10.995 1.16188 13.8381 4.00562 13.8381 7.5C13.8381 10.9944 10.9944 13.8381 7.5 13.8381Z" fill="white"/>
                    </svg>

                    div
                        |10:00 - 22:00 
                        div#time2 n 
            .gap-3(class="hidden sm:flex flex-col xl:flex-row justify-center")
                a.x.text-24px.bold(href="tel:+7(495)772 98 80") +7(495)772 98 80
                div(style='display:flex;gap:10px;')
                    a(href="https://vk.com/bravotrc")
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_663_3097)">
                            <path d="M32.7697 0H2.2352C1.00028 0 0 1.00028 0 2.23273V32.7673C0 33.9997 1.00028 35 2.2352 35H32.7673C33.9997 35 35 33.9997 35 32.7673V2.23273C35.0025 0.997812 34.0022 0 32.7697 0ZM29.0329 21.327C29.6726 21.979 31.0606 23.0732 30.8087 24.1871C30.5765 25.2096 29.0502 24.8366 27.5683 24.8959C25.8764 24.9675 24.8737 25.0046 23.8561 24.1871C23.377 23.7993 23.0954 23.3399 22.636 22.8262C22.2186 22.3619 21.6925 21.5295 20.9763 21.5616C19.6895 21.6259 20.0921 23.419 19.6352 24.6415C12.4825 25.7678 9.61012 21.3492 7.07607 17.0616C5.84856 14.9845 4.07522 10.524 4.07522 10.524L9.13344 10.5067C9.13344 10.5067 10.7561 13.4581 11.1859 14.2188C11.5514 14.8659 11.954 15.3796 12.3689 15.9576C12.7172 16.4367 13.2679 17.3753 13.8706 17.2987C14.8511 17.1727 15.0289 13.3692 14.4214 12.0948C14.1793 11.5786 13.5989 11.3983 12.9987 11.2229C13.2013 9.94355 18.6719 9.67681 19.5561 10.6697C20.8404 12.1121 18.667 16.128 20.4255 17.2987C22.8953 16.0045 25.0046 10.5857 25.0046 10.5857L30.9272 10.6228C30.9272 10.6228 30.0011 13.552 29.0304 14.8511C28.4648 15.6118 26.5877 17.3061 26.6618 18.5633C26.7211 19.5586 28.2475 20.5268 29.0329 21.327Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_663_3097">
                            <rect width="35" height="35" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    a(href="#")
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29.873 0H5.12695C2.30019 0 0 2.30019 0 5.12695V29.873C0 32.6998 2.30019 35 5.12695 35H29.873C32.6998 35 35 32.6998 35 29.873V5.12695C35 2.30019 32.6998 0 29.873 0ZM17.5684 26.6602C12.4796 26.6602 8.33984 22.5204 8.33984 17.4316C8.33984 12.3429 12.4796 8.20312 17.5684 8.20312C22.6571 8.20312 26.7969 12.3429 26.7969 17.4316C26.7969 22.5204 22.6571 26.6602 17.5684 26.6602ZM27.8223 10.2539C26.1261 10.2539 24.7461 8.8739 24.7461 7.17773C24.7461 5.48157 26.1261 4.10156 27.8223 4.10156C29.5184 4.10156 30.8984 5.48157 30.8984 7.17773C30.8984 8.8739 29.5184 10.2539 27.8223 10.2539Z" fill="white"/>
                                <path d="M27.8223 6.15234C27.2564 6.15234 26.7969 6.6119 26.7969 7.17773C26.7969 7.74357 27.2564 8.20312 27.8223 8.20312C28.3881 8.20312 28.8477 7.74357 28.8477 7.17773C28.8477 6.6119 28.3881 6.15234 27.8223 6.15234Z" fill="white"/>
                                <path d="M17.5684 10.2539C13.611 10.2539 10.3906 13.4743 10.3906 17.4316C10.3906 21.389 13.611 24.6094 17.5684 24.6094C21.5257 24.6094 24.7461 21.389 24.7461 17.4316C24.7461 13.4743 21.5257 10.2539 17.5684 10.2539Z" fill="white"/>
                        </svg>
        .grid.text-32px.text-white.text-center(class="grid-cols-1 xl:grid-cols-4")
            a(href="/shops.html") Магазины
            a(href="/rent.html") Арендаторам
            a(href="/contacts.html") Контакты
            a(href="/about.html") О ТРЦ
