<div class="equipment-items">
    <div class="equipment-items__wrapper">
      <div   class="equipment-item">
        <div class="equipment-item__wrapper">
          <div class="equipment-item__image-row">
            <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
              <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
              <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
            </svg>
            <div class="flex justify-between w-full">
              <div class="equipment-item__index">
                | 01
              </div>
              <picture class="equipment-item__pic">
                <source srcset="/assets/img/equipment/2.png">
                <img />
              </picture>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item__title">Штукатурные станции</h3> 
          <i class="equipment-item__href-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z" fill="#B611B6"/>
            </svg>
          </i>
          </div>
          <div class="equipment-item__description-wrapper">
            <p class="equipment-item__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
      <div   class="equipment-item">
        <div class="equipment-item__wrapper">
          <div class="equipment-item__image-row">
            <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
              <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
              <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
            </svg>
            <div class="flex justify-between w-full">
              <div class="equipment-item__index">
                | 01
              </div>
              <picture class="equipment-item__pic">
                <source srcset="/assets/img/equipment/2.png">
                <img />
              </picture>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item__title">Штукатурные станции</h3> 
          <i class="equipment-item__href-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z" fill="#B611B6"/>
            </svg>
          </i>
          </div>
          <div class="equipment-item__description-wrapper">
            <p class="equipment-item__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
      <div   class="equipment-item">
        <div class="equipment-item__wrapper">
          <div class="equipment-item__image-row">
            <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
              <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
              <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
            </svg>
            <div class="flex justify-between w-full">
              <div class="equipment-item__index">
                | 01
              </div>
              <picture class="equipment-item__pic">
                <source srcset="/assets/img/equipment/2.png">
                <img />
              </picture>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item__title">Штукатурные станции</h3> 
          <i class="equipment-item__href-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z" fill="#B611B6"/>
            </svg>
          </i>
          </div>
          <div class="equipment-item__description-wrapper">
            <p class="equipment-item__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
      <div   class="equipment-item">
        <div class="equipment-item__wrapper">
          <div class="equipment-item__image-row">
            <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
              <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
              <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
            </svg>
            <div class="flex justify-between w-full">
              <div class="equipment-item__index">
                | 01
              </div>
              <picture class="equipment-item__pic">
                <source srcset="/assets/img/equipment/2.png">
                <img />
              </picture>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item__title">Штукатурные станции</h3> 
          <i class="equipment-item__href-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z" fill="#B611B6"/>
            </svg>
          </i>
          </div>
          <div class="equipment-item__description-wrapper">
            <p class="equipment-item__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
      <div   class="equipment-item">
        <div class="equipment-item__wrapper">
          <div class="equipment-item__image-row">
            <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
              <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
              <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
            </svg>
            <div class="flex justify-between w-full">
              <div class="equipment-item__index">
                | 01
              </div>
              <picture class="equipment-item__pic">
                <source srcset="/assets/img/equipment/2.png">
                <img />
              </picture>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item__title">Штукатурные станции</h3> 
          <i class="equipment-item__href-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z" fill="#B611B6"/>
            </svg>
          </i>
          </div>
          <div class="equipment-item__description-wrapper">
            <p class="equipment-item__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
      <div   class="equipment-item">
        <div class="equipment-item__wrapper">
          <div class="equipment-item__image-row">
            <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
              <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
              <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
            </svg>
            <div class="flex justify-between w-full">
              <div class="equipment-item__index">
                | 01
              </div>
              <picture class="equipment-item__pic">
                <source srcset="/assets/img/equipment/2.png">
                <img />
              </picture>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item__title">Штукатурные станции</h3> 
          <i class="equipment-item__href-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z" fill="#B611B6"/>
            </svg>
          </i>
          </div>
          <div class="equipment-item__description-wrapper">
            <p class="equipment-item__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
    </div>
</div>