<div class="equipment-item-charss">
    <div class="equipment-item-charss__wrapper">
      <div   class="equipment-item-chars">
        <div class="equipment-item-chars__wrapper">
          <div  class="equipment-item-chars__image-row-outer">
            <div class="equipment-item-chars__image-row">
              <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
                <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
                <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
              </svg>
              <div class="flex justify-between w-full">
                <div class="equipment-item-chars__index">
                  | 01
                </div>
                <picture class="equipment-item-chars__pic">
                  <source srcset="/assets/img/equipment/2.png">
                  <img />
                </picture>
              </div>
            </div>
            <div class="equipment-item-chars__char">
                <p >до<br class="hidden 2xl:block"/> 400 м2/день</p>
            </div>
          </div>

              
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item-chars__title">Штукатурные станции</h3>  
          </div>
          <div class="equipment-item-chars__description-wrapper">
            <p class="equipment-item-chars__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
      <div   class="equipment-item-chars">
        <div class="equipment-item-chars__wrapper">
          <div  class="equipment-item-chars__image-row-outer">
            <div class="equipment-item-chars__image-row">
              <svg class="h-full" xmlns="http://www.w3.org/2000/svg" width="21" height="219" viewBox="0 0 21 219" fill="none">
                <line x1="0.5" y1="2.18557e-08" x2="0.499994" y2="145" stroke="#B611B6"/>
                <line opacity="0.5" x1="20.5" y1="2.18557e-08" x2="20.5" y2="219" stroke="#B611B6"/>
              </svg>
              <div class="flex justify-between w-full">
                <div class="equipment-item-chars__index">
                  | 02
                </div>
                <picture class="equipment-item-chars__pic">
                  <source srcset="/assets/img/equipment/2.png">
                  <img />
                </picture>
              </div>
            </div>
            <div class="equipment-item-chars__char">
                <p >до<br class="hidden 2xl:block"/> 400 м2/день</p>
            </div>
          </div>

              
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="1" viewBox="0 0 219 1" fill="none">
            <line y1="-0.5" x2="219" y2="-0.5" transform="matrix(1 0 0 -1 0 0)" stroke="#372E37"/>
          </svg>
          <div class="flex justify-between">

          <h3 class="equipment-item-chars__title">Штукатурные станции</h3>  
          </div>
          <div class="equipment-item-chars__description-wrapper">
            <p class="equipment-item-chars__description">Надёжные и компактные смесительные насосы для сухих растворов фабричного производства, которые позволяют значительно ускорить выполнение отделочных работ.</p>
          </div>
        </div>
      </div>
    </div>
</div>