<div class="fast-view">
        <div class="fast-view__wrapper">
            <picture class="fast-view__pic-container">
                <source srcset="/assets/img/fast-view.png">
                <img class="fast-view__pic" />
                <div class="fast-view__overlay">
                    <div class="fast-view__overlay-wrapper">
                        <i class="fast-view__overlay-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 104 104" fill="none">
                                <g clip-path="url(#clip0_59_2374)">
                                    <path d="M85.1789 0V3.24374H98.3698L67.0244 36.0859L69.3716 38.3253L100.598 5.60751V18.6629H103.842V0H85.1789ZM38.1593 35.8815L5.52153 3.24374H18.7497V0H0.0859375V18.6629H3.32946V5.6385L35.866 38.1748L38.1593 35.8815ZM38.6061 66.2529L36.262 64.0101L3.32946 98.4417V85.3371H0.0859375V104H18.7497V100.756H5.60473L38.6061 66.2529ZM100.67 85.3371V98.0017L69.2648 64.1504L66.8875 66.3565L98.801 100.756H85.2494V104H103.913V85.3371H100.67Z" fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_59_2374">
                                        <rect width="104" height="104" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </i>
                        <p >
                            | Идеально ровный пол быстро и без переплат!
                        </p>
                    </div>
                </div>
            </picture>
        </div>
</div>