footer.bg-bej
    .container 
        div(class="block md:grid grid-cols-2")
            .text-16px
                img(src="/assets/img/Logo.png").my-5
                .text-grey.my-5 
                    |Уникальный запоминающийся дизайн, пул арендаторов 
                    |федерального значения,кинотеатр и зоны отдыха. Пространство 
                    |торгово-развлекательного цента организовано таким образом, 
                    |чтобы вы чувствовали себя в нем максимально комфортно
                a.text-magenta.my-5(href="https://www.gnivc.ru/on_gnivts/information_disclosure/pdp/#:~:text=%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20%D0%BE%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F%D0%B5%D1%82%20%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5%20%D1%86%D0%B5%D0%BB%D0%B8,%D0%B7%D0%B0%D1%89%D0%B8%D1%82%D0%B5%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%20%D0%9F%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D0%B5%D0%B9%20%D0%A1%D0%B0%D0%B9%D1%82%D0%B0.") Политика конфиденциальности
            div(class="p-0 md:p-5 my-auto")
                .bg-dblue.p-5.rounded-xl.items-center.text-center
                    .flex.gap-5.align-center(class="w-fit m-auto flex-col md:w-auto xl:flex-row xl:m-0 ")
                        .text-white.text-24px(class="xl:m-auto") Вы арендатор?
                        .button.bg-magenta.text-white.text-18px(class="m-auto ")
                            a(href="/rent_request.html") Подать заявку
        .text-black.text-18px.pb-5.pt-5 2021 © БраVо! — торгово развлекательный центр