footer.bg-bej
    .container 
        div(class="block md:grid grid-cols-2")
            .text-16px
                img(src="/assets/img/Logo.png").my-5
                .text-grey.my-5 
                    |Уникальный запоминающийся дизайн, пул арендаторов 
                    |федерального значения,кинотеатр и зоны отдыха. Пространство 
                    |торгово-развлекательного цента организовано таким образом, 
                    |чтобы вы чувствовали себя в нем максимально комфортно
                .text-magenta.my-5 Политика конфиденциальности
            div(class="p-0 md:p-5 my-auto")
                .bg-dblue.p-5.rounded.items-center.text-center
                    .flex.gap-5.align-center(class="w-fit m-auto flex-col md:w-auto xl:flex-row xl:m-0 ")
                        .text-white.text-24px(class="xl:m-auto") Вы арендатор?
                        .button.bg-magenta.text-white.text-18px(class="m-auto ")
                            a(href="/rent_request.html") Подать заявку
        .text-black.text-18px.pb-5.pt-5 2021 © БраVо! — торгово развлекательный центр