footer 
    .container 
        a(href='#').logo.until-md
                    img(src='/assets/img/logo.png')
        .footer-table
            .f-row.flex-col.justify-between
                a(href='#').logo
                    img(src='/assets/img/logo.png')
                .copyright-text © “ПрофКухня”, 2022 Все права защищены
            .sec-row.grid.gap-4
                a(href='/izdeliya.html').footer-text Кондитерские изделия
                a(href='/aboutus.html').footer-text О нас
                a(href='#').footer-text Дистрибьюторам
                a(href='contacts.html').footer-text Контакты
                a(href='blog.html').footer-text Блог 
            .third-row.grid.gap-4
                .footer-text  
                    .font-bold Время работы:
                    |пн-пт 09:00–18:00
                    |сб, вс – выходной
                .footer-text  
                    .font-bold Почта:
                    |profkuhnya@yandex.ru
                a(href='#')
                    <svg width="45" height="26" viewBox="0 0 45 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.795067 0.103193C-0.153858 0.439352 -0.236737 1.29271 0.457562 3.57896C2.00056 8.66002 6.53732 16.3802 10.1718 20.1097C13.9794 24.0168 18.7906 26.166 23.335 25.99C25.1447 25.92 25.8113 25.6967 26.1386 25.0509C26.2751 24.7818 26.2926 24.4465 26.2927 22.1108C26.2929 19.1934 26.3498 18.6988 26.7184 18.4113C26.9225 18.2521 27.0465 18.2321 27.6581 18.2595C28.2397 18.2857 28.4643 18.3415 28.945 18.5791C30.3158 19.2568 32.1583 20.8822 35.4551 24.3222C36.2373 25.1384 36.6932 25.5406 37.0381 25.7188L37.5225 25.9692H40.7813C43.8818 25.9692 44.0546 25.9607 44.3391 25.7946C44.8397 25.5025 45.0103 25.1984 44.9995 24.6183C44.9734 23.2145 43.2298 20.9017 38.7471 16.3246C36.9023 14.441 36.7288 14.1628 36.9847 13.4988C37.0653 13.2894 37.5314 12.5529 38.0204 11.862C40.2733 8.67931 42.2496 5.56082 43.1793 3.72194C44.2317 1.64013 44.3538 0.654438 43.6143 0.210823C43.353 0.0541351 43.1317 0.04366 40.0767 0.04366C35.8574 0.04366 36.1625 -0.0933874 35.0244 2.31324C32.7829 7.05316 30.1153 10.8853 28.0739 12.2982C27.4071 12.7598 26.8293 12.7219 26.5079 12.1953C26.3448 11.9281 26.3349 11.662 26.2929 6.37229C26.2507 1.06724 26.2415 0.817149 26.0766 0.546982C25.7399 -0.00478678 25.7833 1.43425e-05 21.0965 1.43425e-05C16.2727 1.43425e-05 16.3646 -0.0119446 16.0671 0.654787C15.8487 1.14397 15.946 1.45778 16.568 2.27151C17.1771 3.06831 17.5301 3.75127 17.7288 4.51734C17.8639 5.03786 17.8817 5.61049 17.8817 9.42748C17.8817 14.0234 17.8627 14.2536 17.459 14.5338C16.7841 15.0023 15.6398 14.1938 14.1044 12.1633C12.285 9.75745 10.5514 6.45093 9.02722 2.48022C8.41139 0.875896 8.24933 0.59185 7.77082 0.277863L7.41394 0.04366L4.23662 0.0266382C2.15522 0.0154649 0.968136 0.0419141 0.795067 0.103193Z" fill="#1F97DB"/>
                    </svg>
            .fourh-row.grid.gap-4(class='sm:grid-cols-2 md:grid-cols-1')
                a(href='tel:+7 903 799 09 39').footer-text  +7 903 799 09 39
                a(href='#').footer-text  Договор поставки
                a(href='#').footer-text  Договор купли-продажи
                a(href='https://burburo.ru/')
                    img(src='/assets/img/burburo.png' style='max-width:180px')
        .copyright-text.until-md © “ПрофКухня”, 2022 Все права защищены


