footer.footer
  .container
    .footer__body.flex.w-full.justify-between
      .flex.flex-col.mr-10
        .flex.font-bold.text-3lg
          |8 800 000-00-00
        .footer__left
          .flex
            |Все права на фотографии принадлежат ОАО «Павловопосадская платочная мануфактура». Размещение их на других сайтах запрещено.
          br
          .flex
            |142500, Россия, Московская область,
          .flex
            |г. Павловский Посад, ул. Каляева, д. 5.
          br
          .flex
            |ИНН: 5035012944
            br
            |ОГРН: 1025004643070
      nav.hidden.grid-cols-3.justify-between.w-full(class="hl:grid")
        .flex.flex-col
          .font-bold
            |Покупателям
          ul.text-blue-grey.flex.flex-col
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
        .flex.flex-col
          .font-bold
            |Покупателям
          ul.text-blue-grey.flex.flex-col
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
        .flex.flex-col
          .font-bold
            |Покупателям
          ul.text-blue-grey.flex.flex-col
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
            li.mb-1
              a(href="/")
                |Как заказать?
    .footer__bottom.items-end.justify-between.w-full.flex
      span.text-black-warm(class="xs:text-sm md:text-base")
        |© 2006—2021 ОАО «Павловопосадская платочная мануфактура»
      span.text-black-warm(class="xs:text-sm md:text-base")
        a(href="/")
          |Создано в Легеарт