header.text-dblue.bold#header
    a(href="..")
        img(src="/assets/img/Logo.png" class="justify-self-start")
    .info-block(class="hidden lg:grid ")
        .fix
            <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.50043 3.22447C4.96492 3.22447 3.71568 4.47372 3.71568 6.00923C3.71568 7.54474 4.96492 8.79398 6.50043 8.79398C8.03593 8.79398 9.28518 7.54474 9.28518 6.00923C9.28518 4.47372 8.03596 3.22447 6.50043 3.22447ZM6.50043 7.62146C5.61145 7.62146 4.8882 6.89821 4.8882 6.00923C4.8882 5.12024 5.61145 4.39699 6.50043 4.39699C7.38941 4.39699 8.11266 5.12024 8.11266 6.00923C8.11266 6.89821 7.38941 7.62146 6.50043 7.62146Z" fill="#D20373"/>
            <path d="M6.50044 0C3.18693 0 0.491211 2.69575 0.491211 6.00923V6.17534C0.491211 7.85112 1.45197 9.80394 3.34689 11.9794C4.72057 13.5565 6.07505 14.6562 6.132 14.7023L6.50044 15L6.86888 14.7023C6.92586 14.6563 8.28034 13.5566 9.65398 11.9795C11.5489 9.80394 12.5097 7.85115 12.5097 6.17537V6.00926C12.5097 2.69575 9.81395 0 6.50044 0ZM11.3371 6.17537C11.3371 9.00735 7.68819 12.4355 6.50044 13.4762C5.31236 12.4352 1.66373 9.00715 1.66373 6.17537V6.00926C1.66373 3.3423 3.83349 1.17255 6.50044 1.17255C9.16739 1.17255 11.3371 3.3423 11.3371 6.00926V6.17537Z" fill="#D20373"/>
            </svg>
        a.text-dblue.bold(
            href="https://www.google.com/search?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C+%D1%83%D0%BB.+%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B5+%D0%BF%D1%80%D1%83%D0%B4%D1%8B+26%2C+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+2&oq=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C+%D1%83%D0%BB.+%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B5+%D0%BF%D1%80%D1%83%D0%B4%D1%8B+26%2C+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+2&aqs=chrome..69i57j33i22i29i30.768j0j7&sourceid=chrome&ie=UTF-8"
            ) Москва, ул. Борисовские пруды 26, корпус 2
        .fix
            <svg width="15" height="15" viewBox="0 0 15 15" fill="blue" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1723 8.82442L8.08086 7.25587V4.06069C8.08086 3.73942 7.82117 3.47974 7.4999 3.47974C7.17863 3.47974 6.91895 3.73942 6.91895 4.06069V7.54638C6.91895 7.72937 7.00493 7.90192 7.15133 8.01114L9.4751 9.75398C9.57966 9.83241 9.70168 9.87018 9.82309 9.87018C10.0003 9.87018 10.1746 9.79058 10.2884 9.63721C10.4814 9.38098 10.4291 9.01673 10.1723 8.82442Z" fill="#D20373"/>
                <path d="M7.5 0C3.36425 0 0 3.36425 0 7.5C0 11.6358 3.36425 15 7.5 15C11.6358 15 15 11.6358 15 7.5C15 3.36425 11.6358 0 7.5 0ZM7.5 13.8381C4.00562 13.8381 1.16188 10.9944 1.16188 7.5C1.16188 4.00562 4.00562 1.16188 7.5 1.16188C10.995 1.16188 13.8381 4.00562 13.8381 7.5C13.8381 10.9944 10.9944 13.8381 7.5 13.8381Z" fill="#D20373"/>
            </svg>
        span
            |10:10 - 22:00 
            span.text-magenta До закрытия: n часов
    div(style="display:flex;gap:10px" class="hidden lg:hidden xl:flex")
        a(href="#")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.4844 0H3.51562C1.57727 0 0 1.57727 0 3.51562V20.4844C0 22.4227 1.57727 24 3.51562 24H20.4844C22.4227 24 24 22.4227 24 20.4844V3.51562C24 1.57727 22.4227 0 20.4844 0ZM12.0469 18.2812C8.55743 18.2812 5.71875 15.4426 5.71875 11.9531C5.71875 8.46368 8.55743 5.625 12.0469 5.625C15.5363 5.625 18.375 8.46368 18.375 11.9531C18.375 15.4426 15.5363 18.2812 12.0469 18.2812ZM19.0781 7.03125C17.915 7.03125 16.9688 6.08496 16.9688 4.92188C16.9688 3.75879 17.915 2.8125 19.0781 2.8125C20.2412 2.8125 21.1875 3.75879 21.1875 4.92188C21.1875 6.08496 20.2412 7.03125 19.0781 7.03125Z" fill="#37218E"/>
                <path d="M19.0781 4.21875C18.6901 4.21875 18.375 4.53387 18.375 4.92188C18.375 5.30988 18.6901 5.625 19.0781 5.625C19.4661 5.625 19.7812 5.30988 19.7812 4.92188C19.7812 4.53387 19.4661 4.21875 19.0781 4.21875Z" fill="#37218E"/>
                <path d="M12.0469 7.03125C9.33325 7.03125 7.125 9.2395 7.125 11.9531C7.125 14.6667 9.33325 16.875 12.0469 16.875C14.7605 16.875 16.9688 14.6667 16.9688 11.9531C16.9688 9.2395 14.7605 7.03125 12.0469 7.03125Z" fill="#37218E"/>
            </svg>
        a(href="https://vk.com/bravotrc")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_629_3203)">
            <path d="M22.4707 0H1.53271C0.685908 0 0 0.685908 0 1.53101V22.469C0 23.3141 0.685908 24 1.53271 24H22.469C23.3141 24 24 23.3141 24 22.469V1.53101C24.0017 0.684214 23.3158 0 22.4707 0ZM19.9083 14.6242C20.3469 15.0713 21.2987 15.8216 21.126 16.5854C20.9668 17.2866 19.9201 17.0308 18.904 17.0715C17.7438 17.1206 17.0562 17.146 16.3585 16.5854C16.0299 16.3195 15.8369 16.0045 15.5218 15.6522C15.2356 15.3339 14.8749 14.7631 14.3837 14.7851C13.5014 14.8292 13.7774 16.0587 13.4641 16.897C8.55945 17.6693 6.5898 14.6395 4.85216 11.6994C4.01044 10.2751 2.79444 7.21643 2.79444 7.21643L6.26293 7.20457C6.26293 7.20457 7.37563 9.22843 7.67031 9.75005C7.92097 10.1938 8.19702 10.546 8.48155 10.9423C8.72034 11.2709 9.09802 11.9145 9.51126 11.862C10.1836 11.7756 10.3056 9.16745 9.88893 8.29356C9.72296 7.9396 9.32496 7.81596 8.91341 7.69572C9.05229 6.81843 12.8036 6.63552 13.4099 7.31635C14.2906 8.30541 12.8002 11.0592 14.0061 11.862C15.6997 10.9745 17.146 7.25877 17.146 7.25877L21.2073 7.28417C21.2073 7.28417 20.5722 9.29278 19.9066 10.1836C19.5187 10.7052 18.2316 11.8671 18.2824 12.7291C18.3231 13.4116 19.3697 14.0755 19.9083 14.6242Z" fill="#37218E"/>
            </g>
            <defs>
            <clipPath id="clip0_629_3203">
            <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
            </svg>
    a.text-24px(class="hidden lg:hidden xl:block" href="tel:+74957729880") + 7 (495) 772 98 80
    #ddmenuon.justify-self-end
        <svg  class="sm:justify-end" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="45" height="45" rx="3" fill="#37218E"/>
        <rect x="11" y="11" width="22" height="3" rx="1.5" fill="white"/>
        <rect x="11" y="31" width="22" height="3" rx="1.5" fill="white"/>
        <rect x="11" y="21" width="14" height="3" rx="1.5" fill="white"/>
        </svg>




