<header>    
   <div class="sub-header">
     <div class="container">
      <div class="sub-header__wrapper ">
        <div class="sub-header__left-row">
            <div class="sub-header__regionality  ">
                <div class=" ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="22" viewBox="0 0 17 22" fill="none">
                    <g clip-path="url(#clip0_113_1496)">
                    <path d="M8.49978 0.164062C4.10076 0.164062 0.521484 3.74334 0.521484 8.14281C0.521484 9.29036 0.756362 10.386 1.21924 11.3996C3.21404 15.7647 7.03862 20.3733 8.16355 21.6817C8.20525 21.73 8.2569 21.7688 8.31496 21.7954C8.37302 21.822 8.43614 21.8358 8.50001 21.8358C8.56387 21.8358 8.62699 21.822 8.68505 21.7954C8.74312 21.7688 8.79476 21.73 8.83647 21.6817C9.96095 20.3735 13.7855 15.7651 15.781 11.3996C16.2441 10.386 16.4788 9.29036 16.4788 8.14281C16.4783 3.74334 12.899 0.164062 8.49978 0.164062ZM8.49978 12.287C6.21466 12.287 4.35538 10.4277 4.35538 8.14258C4.35538 5.85724 6.21466 3.99796 8.49978 3.99796C10.7849 3.99796 12.6442 5.85724 12.6442 8.14258C12.6444 10.4277 10.7851 12.287 8.49978 12.287Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_113_1496">
                    <rect width="16" height="21.672" fill="white" transform="translate(0.5 0.164062)"/>
                    </clipPath>
                    </defs>
                    </svg>
                </div>
                | Петропавловск Камчатский
            </div>
            <a href="tel:+7 (499) 350-00-02" class="sub-header__number">
                | +7 (499) 350-00-02
            </a>
        </div>
        <div>
            <div class="sub-header__search">
                <form class="sub-header__search-wrapper">
                    <button type="submit" class="sub-header__search-btn">

                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 8.16667C1.5 4.89898 4.14898 2.25 7.41667 2.25C10.6844 2.25 13.3333 4.89898 13.3333 8.16667C13.3333 11.4344 10.6844 14.0833 7.41667 14.0833C4.14898 14.0833 1.5 11.4344 1.5 8.16667ZM7.41667 0.75C3.32055 0.75 0 4.07055 0 8.16667C0 12.2628 3.32055 15.5833 7.41667 15.5833C9.1946 15.5833 10.8264 14.9577 12.104 13.9147L15.2197 17.0303C15.5126 17.3232 15.9874 17.3232 16.2803 17.0303C16.5732 16.7374 16.5732 16.2626 16.2803 15.9697L13.1647 12.854C14.2077 11.5764 14.8333 9.9446 14.8333 8.16667C14.8333 4.07055 11.5128 0.75 7.41667 0.75Z" fill="white"/>
                        </svg>

                    </button>
                    <input class="sub-header__search-field" placeholder="Поиск..." type="text" />
                </form>
            </div>
        </div>
        <div class="sub-header__right-row">
        
            <div class="sub-header__profile">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                    <path d="M11 3.6C11 5.32545 9.64367 6.7 8 6.7C6.35633 6.7 5 5.32545 5 3.6C5 1.87455 6.35633 0.5 8 0.5C9.64367 0.5 11 1.87455 11 3.6Z" stroke="#101E8E"/>
                    <path d="M15 15C15 14.1333 14.8189 13.275 14.4672 12.4743C14.1154 11.6735 13.5998 10.946 12.9497 10.3331C12.2997 9.72023 11.5281 9.23408 10.6788 8.90239C9.8295 8.57071 8.91925 8.4 8 8.4C7.08075 8.4 6.17049 8.57071 5.32122 8.9024C4.47194 9.23408 3.70026 9.72023 3.05025 10.3331C2.40024 10.946 1.88463 11.6735 1.53284 12.4743C1.18106 13.275 1 14.1333 1 15" stroke="#101E8E"/>
                    </svg>
                </i>
                | Профиль
            </div>
            <ul class="sub-header__language">
                <li>RU</li>
                <li>EN</li>
            </ul>
        </div>
      </div>
   </div>
   </div>
   <nav class="container py-[36px] pb-[12px]">
      <div class="nav__left--side">
         <button type="button" class="nav__button--menu">
            |<svg width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            |   <rect y="0.5" width="56" height="1" fill="var(--blue)" />
            |   <rect y="11.5" width="56" height="1" fill="var(--blue)" />
            |   <rect y="22.5" width="56" height="1" fill="var(--blue)" />
            </svg>
         </button> 
         <ul class="nav__left--links">
            <li><a href="#" class="nav__link">Интернет-магазин</a></li>
            <li><a href="#" class="nav__link">О заводе</a></li>
            <li><a href="#" class="nav__link">Где купить</a></li>
            <li><a href="#" class="nav__link">Индивидуальные заказы</a></li>
         </ul>
      </div>
      <a href="#" class="nav__logo">
         |<svg xmlns="http://www.w3.org/2000/svg" width="133" height="64" viewBox="0 0 133 64" fill="none">
         |   <path fill-rule="evenodd" clip-rule="evenodd"
         |      d="M99.7564 19.7687C100.952 20.187 101.25 20.0675 102.147 20.9639C103.043 22.0097 102.744 23.8025 102.744 25.147V32.6468C102.744 37.6068 102.894 42.7162 107.674 44.9572C112.455 46.9292 117.057 43.4632 117.953 38.5032C118.401 35.5152 118.252 32.5273 115.861 30.107C114.965 29.2107 113.471 28.4637 111.977 28.4637C110.782 28.4637 109.587 28.7625 108.571 29.5095C107.924 29.9445 107.323 30.4452 106.778 31.0034C106.629 31.1528 106.479 29.8082 106.479 29.2107C106.479 26.2227 106.33 23.2049 106.33 20.0376C106.18 16.6015 105.583 13.4641 101.549 16.1533C100.354 16.9003 100.055 17.3485 99.1588 18.3943C98.4118 19.2907 98.86 19.5895 99.7564 19.7388V19.7687ZM53.0547 46.2719C51.74 46.2719 51.1424 44.7779 51.1424 43.5827V35.7841L51.2918 29.9278C49.7978 31.5711 48.3038 33.2145 46.8098 35.0073C40.6845 42.6863 39.4894 45.8237 39.4894 45.8237C39.0412 46.8993 37.846 46.4213 37.846 46.4213C37.846 46.4213 36.5014 45.9731 36.9496 44.9273C37.3978 43.8815 37.846 42.9851 38.4436 42.0887C40.2364 39.1008 42.4773 36.0829 44.7183 33.2145C46.6604 30.8241 48.9014 28.4338 50.993 26.163C50.0966 25.2666 49.2002 24.2208 48.3038 23.3244C47.1086 22.2786 46.2123 21.3822 44.8677 20.456C44.5689 20.3066 44.1207 20.0078 44.1207 20.6054C44.1207 20.9042 44.1207 20.7548 44.2701 20.9041C45.7641 21.3822 45.6147 22.9957 44.5689 23.2945C42.6267 23.8921 41.4315 22.2786 41.7303 20.6054C42.0291 18.962 42.9255 18.3644 44.5689 18.5138C45.9135 18.6632 47.1086 19.4102 48.1544 20.1572C49.2002 20.9041 50.246 21.8304 51.2918 22.8463C51.2918 20.9042 51.4412 18.6632 52.487 17.468C53.5029 16.1234 55.4749 14.4801 55.5944 17.3186C55.7438 18.8126 55.5944 19.8584 55.5944 21.3822V21.681C59.4788 18.3644 63.5125 15.5258 67.9944 12.9562C75.629 9.07854 84.0262 6.93589 92.5853 6.6815C100.205 6.6815 107.824 7.27909 114.397 11.1634C121.987 15.6454 128.56 22.5774 128.56 32.0193C128.56 33.3639 128.411 34.7085 128.112 36.083C126.02 45.6743 116.758 51.8295 108.272 55.4449C96.0214 60.5244 81.5597 62.3172 68.4426 62.3172C53.9511 62.3172 36.0532 60.4049 22.9361 54.1003C13.9723 49.7379 2.94671 41.3417 2.79732 30.1967C2.64792 21.8304 9.5202 15.0776 15.3467 12.8068C15.6455 12.6574 15.765 12.508 16.0638 12.3586C16.512 9.52005 18.1554 7.39861 20.3964 5.90463C22.7867 4.41065 25.3265 3.06608 32.9458 3.21548C43.2243 3.36488 53.5029 6.80102 62.9149 6.50222C65.7535 6.50222 66.3511 6.35283 66.9486 6.35283C67.6956 6.35283 67.9944 6.50223 68.2932 7.09982C68.4426 7.69741 68.592 8.1456 68.2932 8.47427C68.1438 8.77307 67.6956 8.92247 67.5462 8.92247C66.0523 9.22126 63.8113 9.37065 62.4667 9.37065C58.7318 9.52005 54.2499 8.92246 50.5149 8.47427C47.7062 8.17548 44.8378 7.69741 42.0291 7.57789C38.8918 7.27909 35.3062 6.80102 32.1689 6.6815C28.5833 6.6815 24.8783 6.3827 21.7409 8.47427C20.8445 9.07186 20.0976 9.81885 19.5 10.5658C20.8445 9.96825 22.4879 9.81885 23.8325 9.81885C26.671 9.81885 28.912 11.014 30.1072 13.7032C31.7506 17.2887 28.912 20.6054 25.3265 21.3822C22.7867 21.9798 20.0976 21.2029 18.1554 19.4102C16.9602 18.215 16.3626 17.0198 16.0638 15.6752C10.8648 17.9162 5.03828 23.7427 5.3072 30.376C5.78527 38.6227 13.5539 47.0487 25.6253 52.427C37.099 57.5364 52.1882 59.8073 68.2932 59.8073C101.25 59.8073 125.722 48.3933 125.722 32.1687C125.722 24.9976 121.389 18.6632 112.873 13.7032C104.388 8.77307 94.6768 9.52005 92.4359 9.52005C90.2248 9.52005 78.1236 10.4164 69.1896 15.3764C64.1101 18.215 59.4788 21.6511 55.2956 25.5654V27.2087L55.8932 27.8063C59.4014 31.4371 62.5997 35.3551 65.4547 39.5191C66.3511 40.8935 67.2474 42.0887 66.6498 43.7321C66.3511 44.4791 65.6041 44.6285 64.8571 44.4791C63.5125 44.1803 63.0643 42.9851 62.4667 41.9393C62.0185 41.0429 61.5703 40.2661 60.9727 39.3697C59.0306 36.0829 57.3872 33.8121 55.1462 31.1229L54.698 43.2839C54.698 44.4791 54.698 46.2719 53.0547 46.2719ZM18.3048 14.3008C19.2012 13.7032 21.4421 12.6574 23.5337 12.6574C25.1771 12.6574 26.5217 13.5538 27.2686 15.0478C28.0156 16.5417 26.9698 18.3644 24.7289 18.8126C22.6373 19.2608 20.3964 18.215 19.6494 17.6174C18.9024 16.8704 18.4542 16.1234 18.3048 14.3307V14.3008ZM39.818 8.47427C35.7544 14.002 35.0373 19.4102 34.4397 25.1172C33.8421 30.6748 34.1409 35.9335 34.1409 38.6227C34.1409 41.1923 32.3482 42.6863 30.7048 42.8058C29.0614 42.9851 27.1192 42.507 26.8204 41.4911C26.671 41.0429 27.1192 40.8936 27.2686 40.296C27.5674 39.5191 27.7168 38.5032 27.418 37.2781C26.8204 35.336 25.3265 34.4396 22.6373 34.7384C19.9482 35.0372 19.0518 38.3239 19.6494 40.7143C20.8445 46.1225 27.418 47.1981 32.0494 45.8237C34.1409 45.2261 36.9496 42.8357 37.7265 38.6526C38.4436 34.4396 40.5351 19.2608 40.7144 15.6454C40.8339 12.0598 41.312 9.96824 40.8339 8.77306C40.8339 7.3986 39.9376 8.29499 39.7882 8.47427H39.818ZM74.9862 23.175C75.1356 22.1292 75.285 21.3822 76.3308 20.9041C76.9284 20.7548 76.9284 20.7548 77.526 20.7548C77.6754 20.7548 78.273 20.7548 78.4224 20.6054C78.8706 20.3066 78.4224 18.962 78.273 18.6632C77.526 17.6174 76.1814 17.3186 74.9862 17.468C73.1935 17.6174 71.58 18.215 70.5043 19.5596C69.3091 21.0535 69.1896 23.1451 69.1896 24.9678C69.1896 26.7605 69.339 28.5533 70.6836 29.9278C71.1318 30.376 71.58 30.6748 72.0282 30.6748C72.4465 30.6748 72.7453 30.376 73.2233 30.2266C74.1197 29.629 75.0161 29.1808 76.032 29.3302C77.0778 29.4796 77.8248 29.7784 78.1236 30.6748C78.4224 31.5711 78.1236 32.0193 77.526 32.6169C76.6296 33.3639 75.5838 33.5133 74.3886 33.3639C73.6417 33.2145 72.2971 32.6169 71.8788 32.7663C71.2812 33.0651 70.9824 33.3639 70.5342 33.8121C69.6378 34.8878 69.4884 36.0829 69.7872 37.2781C70.2354 39.3697 72.2971 40.7441 74.3886 40.8637C76.779 41.0429 78.1236 39.0709 79.02 37.1287C79.767 35.7841 79.767 33.3639 81.2609 33.0651C82.3067 32.9157 83.3525 33.5133 83.5019 34.5591C83.6513 36.0531 81.4103 39.5191 80.3645 40.8935C79.1694 42.3875 78.273 43.2839 76.4802 43.8815C74.8368 44.4791 73.4923 44.4791 71.8788 43.7321C70.3848 42.9851 69.4884 42.0887 68.592 40.7441C67.6512 39.2733 67.2794 37.5097 67.5462 35.7841C67.845 34.1408 68.7414 32.7962 69.9366 31.601C66.9486 29.629 65.0065 27.5075 65.1559 23.922C65.3053 21.681 66.2017 20.0376 67.3968 18.8425C68.8908 17.1692 70.3848 16.4222 72.4764 15.8246C75.8826 14.749 79.4682 15.974 80.8426 19.5596C81.4103 21.2029 81.5597 24.3702 79.6474 25.2666C78.4523 25.7147 77.2571 25.8641 76.1814 25.1172C75.7736 25.0045 75.4235 24.7416 75.2017 24.3812C74.98 24.0209 74.903 23.5899 74.9862 23.175ZM84.9959 18.3644C84.5477 20.3066 86.1911 21.5316 87.5356 22.7268C89.3284 24.5196 90.8224 26.3123 92.1371 28.2844C91.1212 29.4796 90.5236 30.376 89.3284 31.8699C87.2368 34.7384 85.1453 37.8757 83.5019 41.0429C82.9043 42.0887 82.4561 42.8357 82.1573 43.8815C81.8585 44.9273 83.2031 45.3755 83.2031 45.3755C83.2031 45.3755 84.2489 45.6743 84.6971 44.6285C84.6971 44.6285 85.4441 41.3417 91.42 33.5133L93.6311 30.6748C95.2744 33.5133 96.3202 35.9336 97.366 39.0709C97.8142 40.7442 98.2624 43.5827 99.0094 44.4791C99.7564 45.5249 100.802 45.5249 101.25 44.7779C102.147 43.7321 100.802 39.1008 100.354 37.7263C99.1027 33.3585 97.4004 29.1326 95.2744 25.1172C93.7805 22.2786 92.1371 19.1413 89.8961 16.8704C88.1033 15.3764 85.4142 15.8246 84.9959 18.3644ZM111.26 32.4675C107.376 32.7663 105.732 36.2323 107.226 39.6685C108.72 43.4333 112.605 42.3576 114.099 39.2203C115.413 36.3817 114.696 32.1687 111.26 32.4675Z"
         |      fill="var(--blue)" />
         |</svg>
         <p>
            <span>Объединение Гжель</span>
            | Официальный сайт
         </p>
      </a>
      <div class="nav__right--side">
         <ul class="nav__right--links">
            <li><a href="#" class="nav__link">Оптовым покупателям</a></li>
            <li><a href="#" class="nav__link">Контакты</a></li>
            <li><a href="#" class="nav__link">Туризм</a></li>
         </ul>
     
         <ul class="nav__profile">
            <li>
               <a href="#" class="nav__profile--link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none">
                    <path d="M0.5 15.8838V6.88379" stroke="#101E8E"/>
                    <path d="M5.5 15.8838V0.883789" stroke="#101E8E"/>
                    <path d="M10.5 15.8838L10.5 3.88379" stroke="#101E8E"/>
                  </svg>
                  | Сравнение
               </a>
            </li>
            <li>
               <a href="#" class="nav__profile--link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                    <path d="M7.68054 14.4387L7.67983 14.438C5.60994 12.5201 3.93191 10.9643 2.76534 9.50695C1.60482 8.05717 1 6.76391 1 5.3797C1 3.12791 2.72225 1.38379 4.9 1.38379C6.13653 1.38379 7.33427 1.97445 8.1159 2.91234L8.5 3.37323L8.8841 2.91234C9.66573 1.97445 10.8635 1.38379 12.1 1.38379C14.2777 1.38379 16 3.12791 16 5.3797C16 6.76392 15.3952 8.0572 14.2346 9.50811C13.0688 10.9654 11.3926 12.5219 9.32491 14.4418L9.32085 14.4456L9.31978 14.4465L8.50129 15.2021L7.68054 14.4387Z" stroke="#101E8E"/>
                  </svg> 
                  | Избранное
               </a>
            </li>
            <li>
               <a href="#" class="nav__profile--link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M1.30249 15.3838L2.70249 1.38379H13.2975L14.6975 15.3838H1.30249Z" stroke="#101E8E"/>
                    <path d="M6.25 0.883789V2.88379C6.25 3.98836 7.14543 4.88379 8.25 4.88379V4.88379C9.35457 4.88379 10.25 3.98836 10.25 2.88379V0.883789" stroke="#101E8E"/>
                    </svg> 
                  | Корзина
               </a>
            </li>
         </ul>
      </div>
   </nav>
</header>