header 
    .container
        .head-line.items-center
            a(href="index.html").justify-self-start
                img(src='assets/img/logo.png') 
            .search-lupa
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2775 0.380474C9.26262 0.660667 7.56946 1.28559 6.03549 2.31522C3.28387 4.16216 1.5039 6.8433 0.849233 10.1273C0.605594 11.3493 0.605594 13.353 0.849233 14.575C1.08907 15.7781 1.40014 16.6914 1.92998 17.7482C4.23432 22.3441 9.17558 24.9647 14.2609 24.2879C16.1623 24.0348 18.1569 23.258 19.5888 22.2129L19.9564 21.9447L22.6676 24.6505C25.4785 27.4558 25.7291 27.6627 26.3203 27.6665C27.2449 27.6726 28.0058 26.9117 27.9998 25.9871C27.996 25.396 27.7888 25.1451 24.9887 22.3396L22.2879 19.6336L22.7575 18.9189C24.9112 15.6422 25.3247 11.4864 23.8587 7.85088C22.3152 4.02336 18.8664 1.22614 14.7753 0.483855C14.0042 0.343987 11.9721 0.283859 11.2775 0.380474ZM14.2083 3.6882C16.0244 4.00488 17.5524 4.80799 18.8859 6.14654C19.6771 6.94075 20.105 7.52515 20.5552 8.42616C21.7488 10.8156 21.7754 13.7429 20.625 16.1568C19.8008 17.8865 18.1773 19.4911 16.3962 20.3362C14.2353 21.3616 11.4591 21.3967 9.17778 20.4274C7.36855 19.6586 5.59968 17.9554 4.74258 16.1568C3.59227 13.7429 3.6188 10.8156 4.81244 8.42616C5.26231 7.52568 5.6903 6.94105 6.48172 6.1457C7.86479 4.75591 9.49006 3.93943 11.5055 3.62199C12.0068 3.54309 13.5996 3.58209 14.2083 3.6882Z" fill="white"/>
                    </svg>
            .search-field
                input(type='text' placeholder="Найти печеньку :)").header_input_box
                button().header_input_box_button
                    .m-auto.w-fit
                        <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L9 8.5L2 15" stroke="white" stroke-width="3" stroke-linecap="round"/>
                        </svg>
            button.button-gradient-pink.download-price#download-price
                |Скачать прайс
            .burger#burger
                <svg width="50" height="41" viewBox="0 0 50 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="50" height="5" rx="2.5" fill="#624FAE"/>
                <rect y="18" width="24" height="5" rx="2.5" fill="#624FAE"/>
                <rect y="36" width="50" height="5" rx="2.5" fill="#624FAE"/>
                </svg>      
