<header class=""> 
        <div class="container">
            <div class="hdr__wrapper">
                <a class="relative flex 2lg:block" href="/">
                    <img class="max-w-[93px] sm:max-w-[unset]" src="/assets/img/Logo.svg" alt="Логотип"/>
                    <p class="2lg:absolute ml-3 sm:ml-8 2lg:ml-0 top-[calc(100%+8px)] text-header-text-var text-[10px] sm:text-[16px] 2lg:text-[14px] 2xl:text-[16px] leading-[110%] tracking-[.42px]">
                        | Механизированные <br>
                        | технологии
                    </p>
                </a> 
                <nav class="justify-self-center hidden 2lg:block">
                    <ul class="flex tracking-[.5px] flex-row text-nowrap whitespace-nowrap text-header-text-var 2lg:gap-5 2xl:gap-10 items-center uppercase font-medium ">
                        <li>
                            <a>Стяжка пола</a>
                        </li>
                        <li>
                            <a>Штукатурка</a>
                        </li>
                        <li>
                            <a>Наливной пол</a>
                        </li>
                        <li>
                            <a>Блог</a>
                        </li>
                        <li>
                            <a>Контакты</a>
                        </li>
                    </ul>
                </nav>
                <a href="tel:+79255557788" class="justify-self-end hidden lg:block lg:text-[24px] 2lg:text-[18px] xl:text-[24px] font-bold text-header-text-var tracking-[.72px]">
                    | 8 (925) 555-77-88
                </a>
                <ul class="flex hidden lg:flex justify-self-end gap-[10px] ">
                        <li>
                            <a> 
                                <img src="/assets/img/vk.svg" />       
                            </a>
                        </li>
                        <li>
                            <a> 
                                <img src="/assets/img/facebook.svg" />       
                            </a>
                        </li>
                        <li>
                            <a> 
                                <img src="/assets/img/inst.svg" />       
                            </a>
                        </li>
                        <li>
                            <a> 
                                <img src="/assets/img/X.svg" />       
                            </a>
                        </li>
                </ul> 
                <div class="justify-self-end 2lg:hidden">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="var(--header-text-var)">
                        <g clip-path="url(#clip0_122_2920)">
                            <path d="M34.6875 32.3751H2.31252C1.0353 32.3751 0 31.3397 0 30.0625C0 28.7854 1.0353 27.75 2.31252 27.75H34.6876C35.9647 27.75 37.0001 28.7854 37.0001 30.0625C37 31.3397 35.9647 32.3751 34.6875 32.3751ZM34.6875 20.8125H2.31252C1.0353 20.8125 0 19.7772 0 18.5C0 17.2229 1.0353 16.1875 2.31252 16.1875H34.6876C35.9647 16.1875 37.0001 17.2228 37.0001 18.5C37.0001 19.7773 35.9647 20.8125 34.6875 20.8125ZM34.6875 9.24998H2.31252C1.0353 9.24998 0 8.21468 0 6.93747C0 5.66026 1.0353 4.62495 2.31252 4.62495H34.6876C35.9647 4.62495 37.0001 5.66026 37.0001 6.93747C37.0001 8.21468 35.9647 9.24998 34.6875 9.24998Z" fill="var(--header-text-var)"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_122_2920">
                            <rect width="37" height="37" fill="var(--header-text-var)"/>
                            </clipPath>
                        </defs>
                        </svg>
                    </button> 
                </div> 
            </div>
        </div>
</header>