
<div class="index-list-element">
        <div class="index-list-element__wrapper">
            <div class="index-list-element__info-row"> 
                <p class="index-list-element__predlog">C</p>
                <div class="index-list-element__index">
                    | 01
                </div>
                <div class="index-list-element__stat">
                    <span class="index-list-element__highlighted">2014</span><span >года</span>
                </div>
                <svg class="hidden 2lg:block" xmlns="http://www.w3.org/2000/svg" width="1" height="119" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="119" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc hidden 2lg:block">
                    | мы работаем в отрасли механизированных технологий
                </p>
            </div>
            <div class="index-list-element__description-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="100%" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="100%" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc">
                    | мы работаем в отрасли механизированных технологий
                </p>
            </div>
        </div>
</div>
<div class="index-list-element">
        <div class="index-list-element__wrapper">
            <div class="index-list-element__info-row"> 
                <p class="index-list-element__predlog"></p>
                <div class="index-list-element__index">
                    | 02
                </div>
                <div class="index-list-element__stat">
                    <span class="index-list-element__highlighted">75</span><span >года</span>
                </div>
                <svg class="hidden 2lg:block" xmlns="http://www.w3.org/2000/svg" width="1" height="119" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="119" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc hidden 2lg:block">
                    | человек работает в компании (12 бригад + штат ИТР)
                </p>
            </div>
            <div class="index-list-element__description-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="100%" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="100%" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc">
                    | человек работает в компании (12 бригад + штат ИТР)
                </p>
            </div>
        </div>
</div>
<div class="index-list-element">
        <div class="index-list-element__wrapper">
            <div class="index-list-element__info-row"> 
                <p class="index-list-element__predlog"></p>
                <div class="index-list-element__index">
                    | 03
                </div>
                <div class="index-list-element__stat">
                    <span class="index-list-element__highlighted">12</span><span >года</span>
                </div>
                <svg class="hidden 2lg:block" xmlns="http://www.w3.org/2000/svg" width="1" height="119" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="119" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc hidden 2lg:block">
                    | немецких насосов BMS (пневмонагнетатели 2022-2023 года выпуска + обслуживающий транспорт
                </p>
            </div>
            <div class="index-list-element__description-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="100%" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="100%" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc">
                    | немецких насосов BMS (пневмонагнетатели 2022-2023 года выпуска + обслуживающий транспорт
                </p>
            </div>
        </div>
</div>
<div class="index-list-element">
        <div class="index-list-element__wrapper">
            <div class="index-list-element__info-row"> 
                <p class="index-list-element__predlog">Свыше</p>
                <div class="index-list-element__index">
                    | 04
                </div>
                <div class="index-list-element__stat">
                    <span class="index-list-element__highlighted">500 000</span><span >м<sup>2</sup></span>
                </div>
                <svg class="hidden 2lg:block" xmlns="http://www.w3.org/2000/svg" width="1" height="119" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="119" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc hidden 2lg:block">
                    | выполнено стяжки пола за весь период работы в этой сфере
                </p>
            </div>
            <div class="index-list-element__description-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="100%" viewBox="0 0 1 119" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="100%" stroke="#B611B6" />
                </svg>
                <p class="index-list-element__desc">
                    | выполнено стяжки пола за весь период работы в этой сфере
                </p>
            </div>
        </div>
</div>