<div class="objects-examples-items">
        <div class="objects-examples-items__wrapper">
            <div class="objects-examples-item">
                <div class="objects-examples-item__wrapper">

                    <div class="objects-examples-item__index">
                        | 01
                    </div>
                    <div class="objects-examples-item__image-row">
                        <picture  >
                            <source srcset="/assets/img/object-examples/1.png">
                            <img loading="lazy" class="objects-examples-item__pic" />
                        </picture>
                    </div>
                    <div class="objects-examples-item__content">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="219" height="21" viewBox="0 0 219 21" fill="none">
                                <line y1="20.5" x2="145" y2="20.5" stroke="#B611B6"/>
                                <line opacity="0.5" y1="0.5" x2="219" y2="0.5" stroke="#B611B6"/>
                            </svg>
                            <h3 class="objects-examples-item__title">Спортивные объекты</h3>
                        </div>
                        <button class="preset-2 btn objects-examples-item__btn"><span>Заказать</span></button>
                    </div>
                </div>
            </div>
            <div class="objects-examples-item">
                <div class="objects-examples-item__wrapper">

                    <div class="objects-examples-item__index">
                        | 02
                    </div>
                    <div class="objects-examples-item__image-row">
                        <picture  >
                            <source srcset="/assets/img/object-examples/1.png">
                            <img loading="lazy" class="objects-examples-item__pic" />
                        </picture>
                    </div>
                    <div class="objects-examples-item__content">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="219" height="21" viewBox="0 0 219 21" fill="none">
                                <line y1="20.5" x2="145" y2="20.5" stroke="#B611B6"/>
                                <line opacity="0.5" y1="0.5" x2="219" y2="0.5" stroke="#B611B6"/>
                            </svg>
                            <h3 class="objects-examples-item__title">Спортивные объекты</h3>
                        </div>
                        <button class="preset-2 btn objects-examples-item__btn"><span>Заказать</span></button>
                    </div>
                </div>
            </div>
            <div class="objects-examples-item">
                <div class="objects-examples-item__wrapper">

                    <div class="objects-examples-item__index">
                        | 03
                    </div>
                    <div class="objects-examples-item__image-row">
                        <picture  >
                            <source srcset="/assets/img/object-examples/1.png">
                            <img loading="lazy" class="objects-examples-item__pic" />
                        </picture>
                    </div>
                    <div class="objects-examples-item__content">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="219" height="21" viewBox="0 0 219 21" fill="none">
                                <line y1="20.5" x2="145" y2="20.5" stroke="#B611B6"/>
                                <line opacity="0.5" y1="0.5" x2="219" y2="0.5" stroke="#B611B6"/>
                            </svg>
                            <h3 class="objects-examples-item__title">Спортивные объекты</h3>
                        </div>
                        <button class="preset-2 btn objects-examples-item__btn"><span>Заказать</span></button>
                    </div>
                </div>
            </div>
            <div class="objects-examples-item">
                <div class="objects-examples-item__wrapper">

                    <div class="objects-examples-item__index">
                        | 04
                    </div>
                    <div class="objects-examples-item__image-row">
                        <picture  >
                            <source srcset="/assets/img/object-examples/1.png">
                            <img loading="lazy" class="objects-examples-item__pic" />
                        </picture>
                    </div>
                    <div class="objects-examples-item__content">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="219" height="21" viewBox="0 0 219 21" fill="none">
                                <line y1="20.5" x2="145" y2="20.5" stroke="#B611B6"/>
                                <line opacity="0.5" y1="0.5" x2="219" y2="0.5" stroke="#B611B6"/>
                            </svg>
                            <h3 class="objects-examples-item__title">Спортивные объекты</h3>
                        </div>
                        <button class="preset-2 btn objects-examples-item__btn"><span>Заказать</span></button>
                    </div>
                </div>
            </div>
        </div>
</div>