<div class="processes"> 
            <ul class="processes__wrapper">
                <li class="process">
                    <div class="process__wrapper">
                        <div class="process__index">
                            <div class="w-[61px] h-[48px] text-center"> 
                            | 01
                            </div>
                        </div>
                        <div class="process__content">
                            <svg width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="1" x2="145" y2="1" stroke="#B611B6"/>
                            </svg>
                            <h4 class="process__title"> Работа пневмо-нагнетателя </h4>
                            <p class="process__description"> Раствор доставляется на 70 метров по вертикали и 200 метров по горизонтали </p>
                        </div>
                    </div>
                </li>
                <li class="process">
                    <div class="process__wrapper">
                        <div class="process__index">
                            <div class="w-[61px] h-[48px] text-center"> 
                            | 02
                            </div>
                        </div>
                        <div class="process__content">
                            <svg width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="1" x2="145" y2="1" stroke="#B611B6"/>
                            </svg>
                            <h4 class="process__title"> Выкладка плёнки </h4>
                            <p class="process__description"> Пленка позволяет избегать протечек на нижние этажи и помещения </p>
                        </div>
                    </div>
                </li>
                <li class="process">
                    <div class="process__wrapper">
                        <div class="process__index">
                            <div class="w-[61px] h-[48px] text-center"> 
                            | 03
                            </div>
                        </div>
                        <div class="process__content">
                            <svg width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="1" x2="145" y2="1" stroke="#B611B6"/>
                            </svg>
                            <h4 class="process__title"> Выставление маяков </h4>
                            <p class="process__description"> Весь процесс выравнивания контролируется уровнем и лазерным нивелиром </p>
                        </div>
                    </div>
                </li>
                <li class="process">
                    <div class="process__wrapper">
                        <div class="process__index">
                            <div class="w-[61px] h-[48px] text-center"> 
                            | 04
                            </div>
                        </div>
                        <div class="process__content">
                            <svg width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="1" x2="145" y2="1" stroke="#B611B6"/>
                            </svg>
                            <h4 class="process__title"> Выравнивание стяжки </h4>
                            <p class="process__description"> Раствор выравнивается по всему периметру помещения </p>
                        </div>
                    </div>
                </li>
                <li class="process">
                    <div class="process__wrapper">
                        <div class="process__index">
                            <div class="w-[61px] h-[48px] text-center"> 
                            | 05
                            </div>
                        </div>
                        <div class="process__content">
                            <svg width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="1" x2="145" y2="1" stroke="#B611B6"/>
                            </svg>
                            <h4 class="process__title"> Финишная затирка </h4>
                            <p class="process__description"> Вибро-укладка позволяет добиться идеально ровной поверхности </p>
                        </div>
                    </div>
                </li> 
            </ul> 
</div>