<div class="vtable">
                <div role="table" class="vtable__wrapper">
                    <div role="cell"  class="vtable__header-cell">
                        <p>Критерии</p>
                    </div>
                    <div role="cell" class="vtable__header-cell">
                        <p>Полусухая (инновационная стяжка)</p>
                    </div>
                    <div role="cell" class="vtable__header-cell">
                        <p>Мокрая (традиционная стяжка)</p>
                    </div>
 
                        <div role="cell">
                            <p>Объём работ в день</p>
                        </div >
                        <div role="cell">
                            <p>До 300 м2</p>
                        </div>
                        <div role="cell">
                            <p> До 50 м2 </p>
                        </div> 

                        <div role="cell">
                            <p>Необходимость дополнительного выравнивания</p>
                        </div >
                        <div role="cell">
                            <p>Нет</p>
                        </div>
                        <div role="cell">
                            <p> Да </p>
                        </div> 

                        <div role="cell">
                            <p>Пешие нагрузки</p>
                        </div >
                        <div role="cell">
                            <p>Через 12 часов</p>
                        </div>
                        <div role="cell">
                            <p> Через 72 часа </p>
                        </div> 

                        <div role="cell">
                            <p>Отделочные работы</p>
                        </div >
                        <div role="cell">
                            <p>Через 8 дней</p>
                        </div>
                        <div role="cell">
                            <p> Через 28 дней </p>
                        </div> 

                        <div role="cell">
                            <p>Прочность</p>
                        </div >
                        <div role="cell">
                            <p>Высокая</p>
                        </div>
                        <div role="cell">
                            <p> Высокая </p>
                        </div> 

                        <div role="cell">
                            <p>Допустимые перепады на 2 метра</p>
                        </div >
                        <div role="cell">
                            <p>3мм</p>
                        </div>
                        <div role="cell">
                            <p> 20мм </p>
                        </div> 

                        <div role="cell">
                            <p>Потребление воды</p>
                        </div >
                        <div role="cell">
                            <p>Минимальное</p>
                        </div>
                        <div role="cell">
                            <p> Максимальное </p>
                        </div> 

                        <div role="cell">
                            <p>Возможность протечек при заливке</p>
                        </div >
                        <div role="cell">
                            <p>Нет</p>
                        </div>
                        <div role="cell">
                            <p> Да </p>
                        </div> 

                        <div role="cell">
                            <p>Элемент армирования</p>
                        </div >
                        <div role="cell">
                            <p>Фиброволокно</p>
                        </div>
                        <div role="cell">
                            <p> Сетка </p>
                        </div> 

                        <div role="cell">
                            <p>Использование спец. оборудования</p>
                        </div >
                        <div role="cell">
                            <p>Да</p>
                        </div>
                        <div role="cell">
                            <p> Нет </p>
                        </div> 

                </div>
</div>