<div class="ticker">
    <div class="ticker__wrapper">
        <div class="ticker__main-line">
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
        </div>
        <div class="ticker__copy-line">

            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
            <span>
                | Воллмикс
            </span>
            <span>
                | Механизированные технологии
            </span>
        </div>
    </div>
</div>