<div class="work-type">

    <div class="work-type__wrapper">

        <div class="work-type__element">
            <div>
                <div class="work-type__element-count">
                    | 01
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="62" viewBox="0 0 1 62" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="62" stroke="#B611B6"/>
                </svg>
            </div>
            <div class="work-type__element-content">
                <picture>
                    <source srcset="/assets/img/nalivka-1.png" >
                    <img class="work-type__element-img" loading="lazy">
                </picture>
                <h3 class="work-type__element-title">Эпоксидные</h3>
                <p class="work-type__element-desc">Влагоустойчивы и не боятся механического воздействия. Подходят только для закрытых помещений. Ремонтопригодны: в случае появления царапин изъяны можно легко замазать кистью с идентичным составом.</p>
            </div>
        </div>

        <div class="work-type__element">
            <div>
                <div class="work-type__element-count">
                    | 01
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="62" viewBox="0 0 1 62" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="62" stroke="#B611B6"/>
                </svg>
            </div>
            <div class="work-type__element-content">
                <picture>
                    <source srcset="/assets/img/nalivka-1.png" >
                    <img class="work-type__element-img" loading="lazy">
                </picture>
                <h3 class="work-type__element-title">Эпоксидные</h3>
                <p class="work-type__element-desc">Влагоустойчивы и не боятся механического воздействия. Подходят только для закрытых помещений. Ремонтопригодны: в случае появления царапин изъяны можно легко замазать кистью с идентичным составом.</p>
            </div>
        </div>

        <div class="work-type__element">
            <div>
                <div class="work-type__element-count">
                    | 01
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="62" viewBox="0 0 1 62" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="62" stroke="#B611B6"/>
                </svg>
            </div>
            <div class="work-type__element-content">
                <picture>
                    <source srcset="/assets/img/nalivka-1.png" >
                    <img class="work-type__element-img" loading="lazy">
                </picture>
                <h3 class="work-type__element-title">Эпоксидные</h3>
                <p class="work-type__element-desc">Влагоустойчивы и не боятся механического воздействия. Подходят только для закрытых помещений. Ремонтопригодны: в случае появления царапин изъяны можно легко замазать кистью с идентичным составом.</p>
            </div>
        </div>

        <div class="work-type__element">
            <div>
                <div class="work-type__element-count">
                    | 01
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="62" viewBox="0 0 1 62" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="62" stroke="#B611B6"/>
                </svg>
            </div>
            <div class="work-type__element-content">
                <picture>
                    <source srcset="/assets/img/nalivka-1.png" >
                    <img class="work-type__element-img" loading="lazy">
                </picture>
                <h3 class="work-type__element-title">Эпоксидные</h3>
                <p class="work-type__element-desc">Влагоустойчивы и не боятся механического воздействия. Подходят только для закрытых помещений. Ремонтопригодны: в случае появления царапин изъяны можно легко замазать кистью с идентичным составом.</p>
            </div>
        </div>

        <div class="work-type__element">
            <div>
                <div class="work-type__element-count">
                    | 01
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="62" viewBox="0 0 1 62" fill="none">
                    <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="62" stroke="#B611B6"/>
                </svg>
            </div>
            <div class="work-type__element-content">
                <picture>
                    <source srcset="/assets/img/nalivka-1.png" >
                    <img class="work-type__element-img" loading="lazy">
                </picture>
                <h3 class="work-type__element-title">Эпоксидные</h3>
                <p class="work-type__element-desc">Влагоустойчивы и не боятся механического воздействия. Подходят только для закрытых помещений. Ремонтопригодны: в случае появления царапин изъяны можно легко замазать кистью с идентичным составом.</p>
            </div>
        </div>
        
    </div>

</div>