/**
 * Fonts
*/

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'MontserratFAT';
  src: url("../fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
}
