/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --blue: #101E8E;
    --white: #FFFFFF;
    --pink: #C8868C;
    --semi-cyan:#64CBC9; 
}
/* Components */
