/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --black: #272C2F;
    --dark-blue:#37218E;
    --magenta: #D20373;
    --white:#fff;
    --grey:#757575;
    --bej:#f5f5f5;
    --blue:#295EAD;
    --fucsia:rgba(252, 221, 236, 1);
    --transparent: transparent;
}
/* Components */
