/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --black: #383838;
    --white: #FFF;
    --violet: #8E7CD9;
    --gray:#EEECFF;
    --transparent: #00000000;
    --pink:#E94A8D;
}
/* Components */
