.burger-menu{
    @apply absolute w-full;
    background-image: url(../assets/img/glazure_burger.png);
    background-color: linear-gradient(180deg, var(--violet) 0%, var(--pink) 84.39%);
    background-repeat: no-repeat;
    background-position: center;
    height: 1050px;
    z-index: 10;
    top:-1050px;
    transition: all ease-in  0.4s;
    opacity: 0;
}
.burger-menu.drop{
    top:-15px;
    transition:  1s;
    opacity: 1;
}
.header-nav-el{
    @apply text-24px lg:text-28px;
    font-family:'Rubik';
    font-weight: 500;
}
.header-contacts-el{
    @apply text-18px  lg:text-24px;
    font-family:'Rubik';
    font-weight: 400;
    line-height: 27px;
}
.header-nav-el:hover{
    @apply text-violet;
}
.burger-menu svg{
}