footer{
    padding: 40px 0;
    
    
    
}
.footer-table{
    @apply grid text-16px text-white rubik xl:text-18px;
    grid-template-columns: 1;
    gap: 40px;
    margin: 20px 0;
}
footer .copyright-text{
    
    @apply rubik text-white text-16px;
}
footer .logo:not(.until-md),.copyright-text:not(.until-md){
    display: none;
}

footer .f-row{
    display: none ;
}

@media (min-width:480px) {
    .footer-table{
        grid-template-columns:1fr 1fr;
    }
    
    .fourh-row{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width:768px) {
    .footer-table{
        grid-template-columns:1fr 1fr 1fr;
    }
    .fourh-row{
        grid-column-start: unset;
        grid-column-end: unset;
    }
}

@media (min-width:1024px) {
    .footer-table{
        grid-template-columns:1.5fr 1fr 1fr 1fr;;
    }
    footer .logo:not(.until-md),.copyright-text:not(.until-md){
        display: block;
    }
    .until-md{
        display: none ;
    }
    footer .f-row{
        display: flex !important;
    }
}


@media (min-width:1440px) {
    .footer-table{
        grid-template-columns: 1.5fr 1fr 1fr 1fr;;
    }
}