header{
    background-color: var(--transparent);
    position: absolute;
    top:25px;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 2;
    left: 2%;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width:95%;
    
}

.fix{
    width: 13;
    height: 15;
}

.info-block{
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: center;
}


@media(min-width:1280px) {
    header{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr !important;
    }
}
@media(min-width:1024px) {
    header{
        grid-template-columns: 1fr 5fr 1fr;
    }
}
