header{
    padding-top:31px;
    padding-bottom: 31px;
    background: linear-gradient(270deg, #A8B2FF 7.81%, rgba(255, 168, 186, 0.8) 77.94%),
linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

}
//отдельный стиль поля хедера
input[type=text].header_input_box{
    padding-left: 20px;
    width: 100%;
    border-radius: 7px;
    height: 100%;
}
//отдельный стиль кнопки внутри поля хедера
button.header_input_box_button{
    @apply absolute bg-violet;
    right: 0;
    border: solid var(--white) 7px;
    border-radius: 14px;
    width: 50px;
    height: 100%;
}
.search-field{
    @apply relative hidden lg:block;
    width: 100%;
}
.search-lupa{
    @apply block lg:hidden;
}
.download-price{
    @apply hidden md:block;
}
.search-field{
    height: 53px;
}
.head-line{
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr 1fr;
}
@media (min-width:768px) {
    .head-line{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }   
}
@media(min-width:1024px){
    .head-line{
        grid-template-columns: 2fr 3fr 2fr 1fr;
        gap: 20px;
    }
}
@media (min-width:1440px) {
    .head-line{
        grid-template-columns: 3fr 3fr 1fr 0.5fr;
    }
}
.image-container{
    @apply w-fit;
    position: relative;
}