.simple-list{
    @apply text-[16px] sm:text-[24px] lg:text-[30px] tracking-[0.48px] sm:tracking-[0.72px] lg:tracking-[0.9px] leading-[140%];
    &__wrapper{

        &>li{ 
            @apply pt-[54px] sm:pt-0 sm:pl-[110px] relative min-h-[134px];
            counter-increment: simple-counter 1;
            &:not(:last-child){
                @apply mb-[30px] sm:mb-[50px];
            }
            &::before{
                @apply   text-[20px] sm:text-[30px] absolute left-0 top-0 text-[#F299F2] border-violet border-[1px] tracking-[0.9px] leading-[110%] p-[10px] w-[46px] sm:w-[74px] text-center;
                content: "0" counter(simple-counter) ;
            }
            &::after{
                @apply hidden sm:block absolute left-0 top-[77px];
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='58' viewBox='0 0 1 58' fill='none'%3E%3Cline x1='0.5' y1='2.18557e-08' x2='0.499997' y2='58' stroke='%23B611B6'/%3E%3C/svg%3E");
                
            }
        }
    }
}