extends ../layout/main

block variables
  - var title = 'О нас';
  - var description = '';
  - var pageClass = ' ';

block content
    .container 
        .breadcrumbs
            a(href='index.html').el Главная 
            a(href='blog.html').el О нас

        h1.main-title О нас 
        div(class='rubik text-16px sm:text-18px md:text-20px') К сожалению не все современные продукты питания отвечают предъявляемым к ним требованиям потребителя, диктуемым преимущественно заботой о собственном здоровье. Поэтому мы решили создать собственное производство кулинарной продукции, отвечающее актуальным запросам потребителя.
        h3 Наши принципы:

    .bg-gray  
        .container
            .grid(class='gap-y-[70px] grid-cols-1 sm:grid-cols-2 lg:grid-cols-4').py-13
                    .image-container.m-auto
                        img(src='/assets/img/char/Char-step1.png')
                    .image-container.m-auto
                        img(src='/assets/img/char/Char-step2.png')
                    .image-container.m-auto
                        img(src='/assets/img/char/Char-step3.png')
                    .image-container.m-auto
                        img(src='/assets/img/char/Char-step4.png')
    .container
        h3 Новое современное производство кондитерских изделий ТМ «Профкухня».
        div(class='rubik text-16px sm:text-18px md:text-20px')
            |Большой ассортимент высококачественных изделий удовлетворит спрос большинства любителей сладкого и вкусного натурального продукта!
            |Наши кондитеры — профессионалы своего дела! Производим кулинарные и кондитерские изделия исключительно из натурального сырья и только на современном высокотехнологичном оборудовании!
            br
            br
            |Производство обладает собственным автопарком, это несомненно обеспечивает стабильные и бесперебойные поставки продукции нашим покупателям.
            br
            br
            |Мы пристально следим за тенденциями в кондитерской сфере и реагируем на новые потребности рынка. Поэтому количество производимой нами продукции растет и меняется исключительно в лучшую сторону. Нам есть чем Вас порадовать!
            
        .swiper#swiper-factory
            .swiper-wrapper 
                .swiper-slide
                    .bg-slide
                .swiper-slide.w-full.h-full
                    .bg-slide
                .swiper-slide.w-full.h-full
                    .bg-slide
            .swiper-button-prev
            .swiper-button-next

        .flex.bg-gray(class='rounded-[30px] text-24px p-[27px] md:p-0' ).rubik.font-thin
            img(src='/assets/img/char/CharWarningMark.png' class='hidden md:block ')
            .flex.flex-col.gap-5.m-auto(class='text-16px sm:text-20px xl:text-24px')
                |Оптовые поставки кулинарной продукции производятся только после заключения соответствующего договора.
                button.button-gradient-pink#download-price
                    |Скачать прайс

            