extends ../layout/main  
block variables
    - var title = 'Блок';
    - var description = '';
    - var pageClass = '';
    - var podlozhka = false

block content   
    <div class="container">
      <svg class="mb-5" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
        <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
      </svg>
      <svg class="mb-10" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
        <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
      </svg>
      <h1 class="section-title-style">
        | Самое интересное из мира  <span class="text-violet">механизированных технологий</span>
      </h1>
      <svg class="my-10" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
        <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
      </svg>
      <p class="section-description-style ">
        | Полезные статьи и просто интересная информация из отрасли механизированных технологий стяжки и штукатурки
      </p> 
      <div class="mt-[80px] sm:mt-25">
        include ../includes/blog
      </div>
    </div> 
    <div class="container p-0 sm:px-5 md:px-6 lg:pr-0 2xl:px-[130px] mt-[80px] sm:mt-[100px] lg:mt-[140px]">
      <div class="flex">
        <div class="flex ">
          <svg class='hidden lg:block mr-5' width="1" height="65%" viewBox="0 0 1 65%" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" y1="2.18557e-08" x2="0.499958" y2="65%" stroke="#372E37" />
          </svg>
          <svg class='hidden lg:block 2lg:mr-[120px] mr-[50px]' width="1" height="50%" viewBox="0 0 1 50%" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line opacity="0.5" x1="0.5" y1="2.18557e-08" x2="0.499976" y2="50%" stroke="#372E37" />
          </svg>
          include ../includes/formCalc
        </div>
      </div>
    </div>