extends ../layout/main
block variables
    - var title = 'Блог деталка';
    - var description = '';
    - var pageClass = '';
    - var podlozhka = false

block content 
    <div class="container">
        <div class='blog-detail'>
            <div class='blog-detail__wrapper'> 
                <div >
                    <svg class="mb-5" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                        <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
                    </svg>
                    <svg class="mb-10" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                        <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
                    </svg>
                    <h1 class="section-title-style">
                        | Самое интересное из мира  <span class="text-violet">механизированных технологий</span>
                    </h1>
                    <svg class="my-10" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                        <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
                    </svg>
                </div>
                <div></div>
                <div>
                    <p>
                        |Комфорт в квартире, офисе или любом другом помещении во многом зависит от качества поверхности пола. Независимо от выбранного отделочного материала (линолеум, плитка, ламинат и др.), важно создать надежную конструкцию, которая станет крепкой основой под любую отделку. Для этого мастера наносят слой стяжки между бетоном и покрытием, который позволяет сделать идеально ровную поверхность и скрыть электрику и трубы.
                        |На современном рынке представлены три основные технологии выравнивания: мокрая, сухая и полусухая. Каждый способ имеет свои положительные и отрицательные стороны.
                        |Наша компания уже на протяжении многих лет успешно применяет метод полусухой стяжки, т. к. сегодня именно он считается наиболее эффективным и высокотехнологичным.
                    </p> 
                    <h2>Что такое полусухая стяжка пола?</h2>
                    <p>
                        |Полусухая стяжка – это механизированная технология создания гладкого основания с применением цементно-песчаного раствора. Для упрочнения основы часто используют материалы с армирующим эффектом (например, фиброволокно или металл).
                        |На название методики повлияло небольшое количество воды, которое добавляется в состав, по сравнению с мокрым раствором. Это преимущество позволяет смеси сохнуть значительно быстрее.
                        |В процессе выполнения полусухой стяжки пола под ключ наши специалисты применяют цемент, песок и фиброволокно для приготовления смеси, а также демпферную ленту и полиэтиленовую пленку, которые нужны для самой процедуры укладки. Подается состав с помощью специализированного пневмонагнетателя на расстояние до 150 метров, что приравнивается к высоте 30-этажного дома.
                    </p>
                    <img src='/assets/img/blog-detail-img.png'>
                    <h2>Преимущества и недостатки полусухой стяжки пола</h2>
                    <p>
                        |Полусухая стяжка – это механизированная технология создания гладкого основания с применением цементно-песчаного раствора. Для упрочнения основы часто используют материалы с армирующим эффектом (например, фиброволокно или металл).
                        |На название методики повлияло небольшое количество воды, которое добавляется в состав, по сравнению с мокрым раствором. Это преимущество позволяет смеси сохнуть значительно быстрее.
                        |В процессе выполнения полусухой стяжки пола под ключ наши специалисты применяют цемент, песок и фиброволокно для приготовления смеси, а также демпферную ленту и полиэтиленовую пленку, которые нужны для самой процедуры укладки. Подается состав с помощью специализированного пневмонагнетателя на расстояние до 150 метров, что приравнивается к высоте 30-этажного дома.
                    </p>
                </div>
                <div class="blog-detail__additional">
                    include ../includes/blogElement
                </div>
            </div>
        </div>
    </div>