extends ../layout/main

block variables
  - var title = 'Блог';
  - var description = '';
  - var pageClass = ' ';

block content 
    .container 
        .breadcrumbs
            a(href='index.html').el Главная 
            a(href='contacts.html').el.current Блог
        h1.main-title Вкусный блог
        .blog
            .el 
                .image-container 
                    img(src='/assets/img/blog-detail.jpg')
                .description 
                      a(href='/blog-detail.html').title Донаты (пончики) купить оптом
                      br
                      br
                      .chars «Профкухня» – компания, поставляющая на предприятия общественного питания и в магазины ...
            .el 
                .image-container 
                    img(src='/assets/img/blog-detail.jpg')
                .description 
                      a(href='/blog-detail.html').title Круасаны купить оптом
                      br
                      br
                      .chars «Профкухня» – компания, поставляющая на предприятия общественного питания и в магазины ...
            .el
                .image-container 
                    img(src='/assets/img/blog-detail.jpg')
                .description 
                      a(href='/blog-detail.html').title Пончики на любой вкус оптом
                      br
                      br
                      .chars «Профкухня» – компания, поставляющая на предприятия общественного питания и в магазины ...
            .el 
                .image-container 
                    img(src='/assets/img/blog-detail.jpg')
                .description 
                      a(href='/blog-detail.html').title Донаты (пончики) купить оптом
                      br
                      br
                      .chars «Профкухня» – компания, поставляющая на предприятия общественного питания и в магазины ...

