extends ../layout/main

block variables
  - var title = 'Контакты';
  - var description = ' ';
  - var pageClass = 'index-page';


block content
  .bg-bej(style="height:125px;    border-radius: 0 0 60px 60px ;")
  section.overflow-hidden
    .container 
      .text-12px.text-grey.whitespace-nowrap.pb-5.bold Главная  / 
        span.gradient  Контакты
      .gradient.bold.mb-10(class="text-40px text-center md:text-60px md:text-left") Контакты
      
      .grid.mb-25(class="grid-cols-1 gap-10 xl:grid-cols-2")
        div
          .text-24px.text-dblue.bold.pb-5 Часы работы, адрес, телефон
          .leading-10
            .flex.gap-2.text.18px.text-black 
              <svg width="20" height="40" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_795_6133)">
              <path d="M13.5634 11.8499L10.7748 9.74359V5.45298C10.7748 5.02157 10.4286 4.67285 10.0002 4.67285C9.57184 4.67285 9.22559 5.02157 9.22559 5.45298V10.1337C9.22559 10.3794 9.34023 10.6111 9.53543 10.7578L12.6338 13.0982C12.7732 13.2035 12.9359 13.2542 13.0978 13.2542C13.334 13.2542 13.5664 13.1473 13.7183 12.9414C13.9755 12.5973 13.9058 12.1081 13.5634 11.8499Z" fill="#D20373"/>
              <path d="M10 0C4.48566 0 0 4.51765 0 10.0713C0 15.625 4.48566 20.1426 10 20.1426C15.5143 20.1426 20 15.625 20 10.0713C20 4.51765 15.5143 0 10 0ZM10 18.5824C5.34082 18.5824 1.54918 14.7637 1.54918 10.0713C1.54918 5.3789 5.34082 1.56023 10 1.56023C14.66 1.56023 18.4508 5.3789 18.4508 10.0713C18.4508 14.7637 14.6592 18.5824 10 18.5824Z" fill="#D20373"/>
              </g>
              <defs>
              <clipPath id="clip0_795_6133">
              <rect width="20" height="20.1426" fill="white"/>
              </clipPath>
              </defs>
              </svg>

              |с 10:00 до 22:00 (без выходных и праздников)
            .flex.gap-2.text.18px.text-black 
              <svg width="18" height="40" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.9996 4.32995C6.95226 4.32995 5.2866 6.00749 5.2866 8.06943C5.2866 10.1314 6.95226 11.8089 8.9996 11.8089C11.0469 11.8089 12.7126 10.1314 12.7126 8.06943C12.7126 6.00749 11.047 4.32995 8.9996 4.32995ZM8.9996 10.2344C7.81429 10.2344 6.84995 9.2632 6.84995 8.06943C6.84995 6.87567 7.81429 5.90446 8.9996 5.90446C10.1849 5.90446 11.1492 6.87567 11.1492 8.06943C11.1492 9.2632 10.1849 10.2344 8.9996 10.2344Z" fill="#D20373"/>
              <path d="M8.99961 0C4.5816 0 0.987305 3.61996 0.987305 8.06943V8.2925C0.987305 10.5428 2.26832 13.1651 4.79488 16.0865C6.62645 18.2043 8.43242 19.681 8.50836 19.7428L8.99961 20.1426L9.49086 19.7429C9.56684 19.681 11.3728 18.2043 13.2043 16.0865C15.7309 13.1651 17.0119 10.5428 17.0119 8.29254V8.06947C17.0119 3.61996 13.4176 0 8.99961 0ZM15.4486 8.29254C15.4486 12.0954 10.5833 16.6989 8.99961 18.0964C7.41551 16.6985 2.55066 12.0952 2.55066 8.29254V8.06947C2.55066 4.48818 5.44367 1.57455 8.99961 1.57455C12.5555 1.57455 15.4486 4.48818 15.4486 8.06947V8.29254Z" fill="#D20373"/>
              </svg>

              |Москва, ул. Борисовские Пруды, 26, корп.2
            .flex.gap-2.text.18px.text-black 
              <svg width="20" height="40" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.07569 13.3894C6.04834 15.7643 8.42298 17.6342 11.1333 18.9573C12.1652 19.4498 13.5452 20.0341 15.0827 20.1343C15.1781 20.1384 15.2692 20.1426 15.3646 20.1426C16.3965 20.1426 17.2253 19.7837 17.9008 19.0449C17.905 19.0407 17.9132 19.0324 17.9174 19.024C18.1578 18.7319 18.4313 18.4689 18.7172 18.1893C18.912 18.0015 19.1109 17.8053 19.3016 17.605C20.1843 16.6784 20.1843 15.5014 19.2933 14.604L16.8026 12.0956C16.3799 11.6532 15.8743 11.4194 15.3438 11.4194C14.8134 11.4194 14.3036 11.6532 13.8685 12.0914L12.3849 13.5856C12.2481 13.5063 12.1072 13.4354 11.9746 13.3686C11.8088 13.2851 11.6555 13.2058 11.5187 13.1182C10.1677 12.2542 8.94101 11.1273 7.76819 9.67897C7.17557 8.92351 6.77773 8.2891 6.50006 7.64217C6.88962 7.2874 7.25431 6.91593 7.60657 6.55281C7.7309 6.42343 7.85937 6.29404 7.98784 6.16465C8.43541 5.71389 8.67578 5.19217 8.67578 4.6621C8.67578 4.13203 8.43956 3.61031 7.98784 3.15954L6.75286 1.91576C6.60781 1.76968 6.47105 1.62777 6.33015 1.48169C6.05663 1.19787 5.77068 0.905708 5.48887 0.64276C5.06202 0.22121 4.56057 0 4.03011 0C3.50379 0 2.9982 0.22121 2.55476 0.646934L1.00482 2.20792C0.441211 2.77556 0.122106 3.46423 0.055798 4.26142C-0.0229422 5.25895 0.159404 6.31908 0.631845 7.60043C1.35708 9.58297 2.45116 11.4236 4.07569 13.3894ZM1.06699 4.34907C1.11672 3.79395 1.32807 3.33067 1.72592 2.92998L3.26757 1.37734C3.50793 1.14361 3.77316 1.02257 4.03011 1.02257C4.2829 1.02257 4.53985 1.14361 4.77607 1.38569C5.05373 1.64446 5.31482 1.91576 5.59662 2.20375C5.73753 2.34983 5.88257 2.49591 6.02762 2.64617L7.2626 3.88995C7.51954 4.14873 7.65216 4.41167 7.65216 4.67045C7.65216 4.92922 7.51954 5.19217 7.2626 5.45094C7.13413 5.58033 7.00566 5.71389 6.87719 5.84327C6.49177 6.23561 6.13123 6.60707 5.73338 6.96184C5.72509 6.97019 5.72095 6.97437 5.71266 6.98271C5.36869 7.32914 5.42256 7.65886 5.50545 7.90929C5.50959 7.92181 5.51374 7.93016 5.51788 7.94268C5.83699 8.71483 6.28042 9.44941 6.9725 10.3259C8.21577 11.8702 9.52534 13.0681 10.9675 13.9905C11.1457 14.1073 11.3364 14.1992 11.5146 14.291C11.6803 14.3745 11.8337 14.4538 11.9704 14.5414C11.987 14.5498 11.9994 14.5581 12.016 14.5664C12.1528 14.6374 12.2854 14.6708 12.418 14.6708C12.7495 14.6708 12.965 14.4579 13.0355 14.387L14.5854 12.826C14.8258 12.5839 15.0869 12.4545 15.3438 12.4545C15.6588 12.4545 15.9157 12.6507 16.0774 12.826L18.5763 15.3386C19.0736 15.8394 19.0695 16.382 18.5639 16.9121C18.3898 17.0999 18.2075 17.2794 18.0127 17.4672C17.7226 17.751 17.4201 18.0432 17.1466 18.3729C16.67 18.8905 16.1022 19.1326 15.3687 19.1326C15.2982 19.1326 15.2236 19.1284 15.1532 19.1242C13.7939 19.0366 12.5299 18.5023 11.5809 18.0474C9.00317 16.7911 6.74043 15.0089 4.86309 12.7467C3.3173 10.8727 2.2771 9.12803 1.58916 7.25818C1.16231 6.1104 1.00068 5.18799 1.06699 4.34907Z" fill="#D20373"/>
              </svg>

              |+7 (495) 772-98-80
            .flex.gap-2.text.18px.text-magenta 
              <svg width="20" height="40" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.125 0.517822H1.87501C0.841067 0.517822 0 1.36489 0 2.4062V13.7364C0 14.7777 0.841067 15.6248 1.87501 15.6248H18.125C19.1589 15.6248 20 14.7777 20 13.7364V2.4062C20 1.36489 19.1589 0.517822 18.125 0.517822ZM18.125 1.77673C18.2099 1.77673 18.2907 1.79447 18.3645 1.82546L10 9.12675L1.63542 1.82546C1.70927 1.79452 1.79005 1.77673 1.87497 1.77673H18.125ZM18.125 14.3658H1.87501C1.53017 14.3658 1.24999 14.0837 1.24999 13.7364V3.15551L9.59045 10.4354C9.70826 10.5381 9.85413 10.5891 10 10.5891C10.1459 10.5891 10.2917 10.5381 10.4096 10.4354L18.75 3.15551V13.7364C18.75 14.0837 18.4698 14.3658 18.125 14.3658Z" fill="#D20373"/>
              </svg>

              |pr@trc-bravo.ru
        div 
          .grid(class="grid-cols-1 sm:grid-cols-2 ").gap-10
            div
              .text-24px.text-dblue.bold.pb-5 Отдел аренды
              .leading-10
                .flex.gap-2.text.18px.text-black 
                  img(src="../assets/img/baba.png")
                  |Алла Кто
                .flex.gap-2.text.18px.text-black 
                  <svg width="20" height="40" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.07569 13.3894C6.04834 15.7643 8.42298 17.6342 11.1333 18.9573C12.1652 19.4498 13.5452 20.0341 15.0827 20.1343C15.1781 20.1384 15.2692 20.1426 15.3646 20.1426C16.3965 20.1426 17.2253 19.7837 17.9008 19.0449C17.905 19.0407 17.9132 19.0324 17.9174 19.024C18.1578 18.7319 18.4313 18.4689 18.7172 18.1893C18.912 18.0015 19.1109 17.8053 19.3016 17.605C20.1843 16.6784 20.1843 15.5014 19.2933 14.604L16.8026 12.0956C16.3799 11.6532 15.8743 11.4194 15.3438 11.4194C14.8134 11.4194 14.3036 11.6532 13.8685 12.0914L12.3849 13.5856C12.2481 13.5063 12.1072 13.4354 11.9746 13.3686C11.8088 13.2851 11.6555 13.2058 11.5187 13.1182C10.1677 12.2542 8.94101 11.1273 7.76819 9.67897C7.17557 8.92351 6.77773 8.2891 6.50006 7.64217C6.88962 7.2874 7.25431 6.91593 7.60657 6.55281C7.7309 6.42343 7.85937 6.29404 7.98784 6.16465C8.43541 5.71389 8.67578 5.19217 8.67578 4.6621C8.67578 4.13203 8.43956 3.61031 7.98784 3.15954L6.75286 1.91576C6.60781 1.76968 6.47105 1.62777 6.33015 1.48169C6.05663 1.19787 5.77068 0.905708 5.48887 0.64276C5.06202 0.22121 4.56057 0 4.03011 0C3.50379 0 2.9982 0.22121 2.55476 0.646934L1.00482 2.20792C0.441211 2.77556 0.122106 3.46423 0.055798 4.26142C-0.0229422 5.25895 0.159404 6.31908 0.631845 7.60043C1.35708 9.58297 2.45116 11.4236 4.07569 13.3894ZM1.06699 4.34907C1.11672 3.79395 1.32807 3.33067 1.72592 2.92998L3.26757 1.37734C3.50793 1.14361 3.77316 1.02257 4.03011 1.02257C4.2829 1.02257 4.53985 1.14361 4.77607 1.38569C5.05373 1.64446 5.31482 1.91576 5.59662 2.20375C5.73753 2.34983 5.88257 2.49591 6.02762 2.64617L7.2626 3.88995C7.51954 4.14873 7.65216 4.41167 7.65216 4.67045C7.65216 4.92922 7.51954 5.19217 7.2626 5.45094C7.13413 5.58033 7.00566 5.71389 6.87719 5.84327C6.49177 6.23561 6.13123 6.60707 5.73338 6.96184C5.72509 6.97019 5.72095 6.97437 5.71266 6.98271C5.36869 7.32914 5.42256 7.65886 5.50545 7.90929C5.50959 7.92181 5.51374 7.93016 5.51788 7.94268C5.83699 8.71483 6.28042 9.44941 6.9725 10.3259C8.21577 11.8702 9.52534 13.0681 10.9675 13.9905C11.1457 14.1073 11.3364 14.1992 11.5146 14.291C11.6803 14.3745 11.8337 14.4538 11.9704 14.5414C11.987 14.5498 11.9994 14.5581 12.016 14.5664C12.1528 14.6374 12.2854 14.6708 12.418 14.6708C12.7495 14.6708 12.965 14.4579 13.0355 14.387L14.5854 12.826C14.8258 12.5839 15.0869 12.4545 15.3438 12.4545C15.6588 12.4545 15.9157 12.6507 16.0774 12.826L18.5763 15.3386C19.0736 15.8394 19.0695 16.382 18.5639 16.9121C18.3898 17.0999 18.2075 17.2794 18.0127 17.4672C17.7226 17.751 17.4201 18.0432 17.1466 18.3729C16.67 18.8905 16.1022 19.1326 15.3687 19.1326C15.2982 19.1326 15.2236 19.1284 15.1532 19.1242C13.7939 19.0366 12.5299 18.5023 11.5809 18.0474C9.00317 16.7911 6.74043 15.0089 4.86309 12.7467C3.3173 10.8727 2.2771 9.12803 1.58916 7.25818C1.16231 6.1104 1.00068 5.18799 1.06699 4.34907Z" fill="#D20373"/>
                  </svg>
                  |+7 (495) 772-98-80
                .flex.gap-2.text.18px.text-magenta 
                  <svg width="20" height="40" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.125 0.517822H1.87501C0.841067 0.517822 0 1.36489 0 2.4062V13.7364C0 14.7777 0.841067 15.6248 1.87501 15.6248H18.125C19.1589 15.6248 20 14.7777 20 13.7364V2.4062C20 1.36489 19.1589 0.517822 18.125 0.517822ZM18.125 1.77673C18.2099 1.77673 18.2907 1.79447 18.3645 1.82546L10 9.12675L1.63542 1.82546C1.70927 1.79452 1.79005 1.77673 1.87497 1.77673H18.125ZM18.125 14.3658H1.87501C1.53017 14.3658 1.24999 14.0837 1.24999 13.7364V3.15551L9.59045 10.4354C9.70826 10.5381 9.85413 10.5891 10 10.5891C10.1459 10.5891 10.2917 10.5381 10.4096 10.4354L18.75 3.15551V13.7364C18.75 14.0837 18.4698 14.3658 18.125 14.3658Z" fill="#D20373"/>
                  </svg>
                  |rent@trc-bravo.ru
            div  
              .text-24px.text-dblue.bold.pb-5 Отдел рекламы
              .leading-10
                .flex.gap-2.text.18px.text-black 
                  img(src="../assets/img/babamuzh.png")
                  |Вячеслав Зачем
                .flex.gap-2.text.18px.text-black 
                  <svg width="20" height="40" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.07569 13.3894C6.04834 15.7643 8.42298 17.6342 11.1333 18.9573C12.1652 19.4498 13.5452 20.0341 15.0827 20.1343C15.1781 20.1384 15.2692 20.1426 15.3646 20.1426C16.3965 20.1426 17.2253 19.7837 17.9008 19.0449C17.905 19.0407 17.9132 19.0324 17.9174 19.024C18.1578 18.7319 18.4313 18.4689 18.7172 18.1893C18.912 18.0015 19.1109 17.8053 19.3016 17.605C20.1843 16.6784 20.1843 15.5014 19.2933 14.604L16.8026 12.0956C16.3799 11.6532 15.8743 11.4194 15.3438 11.4194C14.8134 11.4194 14.3036 11.6532 13.8685 12.0914L12.3849 13.5856C12.2481 13.5063 12.1072 13.4354 11.9746 13.3686C11.8088 13.2851 11.6555 13.2058 11.5187 13.1182C10.1677 12.2542 8.94101 11.1273 7.76819 9.67897C7.17557 8.92351 6.77773 8.2891 6.50006 7.64217C6.88962 7.2874 7.25431 6.91593 7.60657 6.55281C7.7309 6.42343 7.85937 6.29404 7.98784 6.16465C8.43541 5.71389 8.67578 5.19217 8.67578 4.6621C8.67578 4.13203 8.43956 3.61031 7.98784 3.15954L6.75286 1.91576C6.60781 1.76968 6.47105 1.62777 6.33015 1.48169C6.05663 1.19787 5.77068 0.905708 5.48887 0.64276C5.06202 0.22121 4.56057 0 4.03011 0C3.50379 0 2.9982 0.22121 2.55476 0.646934L1.00482 2.20792C0.441211 2.77556 0.122106 3.46423 0.055798 4.26142C-0.0229422 5.25895 0.159404 6.31908 0.631845 7.60043C1.35708 9.58297 2.45116 11.4236 4.07569 13.3894ZM1.06699 4.34907C1.11672 3.79395 1.32807 3.33067 1.72592 2.92998L3.26757 1.37734C3.50793 1.14361 3.77316 1.02257 4.03011 1.02257C4.2829 1.02257 4.53985 1.14361 4.77607 1.38569C5.05373 1.64446 5.31482 1.91576 5.59662 2.20375C5.73753 2.34983 5.88257 2.49591 6.02762 2.64617L7.2626 3.88995C7.51954 4.14873 7.65216 4.41167 7.65216 4.67045C7.65216 4.92922 7.51954 5.19217 7.2626 5.45094C7.13413 5.58033 7.00566 5.71389 6.87719 5.84327C6.49177 6.23561 6.13123 6.60707 5.73338 6.96184C5.72509 6.97019 5.72095 6.97437 5.71266 6.98271C5.36869 7.32914 5.42256 7.65886 5.50545 7.90929C5.50959 7.92181 5.51374 7.93016 5.51788 7.94268C5.83699 8.71483 6.28042 9.44941 6.9725 10.3259C8.21577 11.8702 9.52534 13.0681 10.9675 13.9905C11.1457 14.1073 11.3364 14.1992 11.5146 14.291C11.6803 14.3745 11.8337 14.4538 11.9704 14.5414C11.987 14.5498 11.9994 14.5581 12.016 14.5664C12.1528 14.6374 12.2854 14.6708 12.418 14.6708C12.7495 14.6708 12.965 14.4579 13.0355 14.387L14.5854 12.826C14.8258 12.5839 15.0869 12.4545 15.3438 12.4545C15.6588 12.4545 15.9157 12.6507 16.0774 12.826L18.5763 15.3386C19.0736 15.8394 19.0695 16.382 18.5639 16.9121C18.3898 17.0999 18.2075 17.2794 18.0127 17.4672C17.7226 17.751 17.4201 18.0432 17.1466 18.3729C16.67 18.8905 16.1022 19.1326 15.3687 19.1326C15.2982 19.1326 15.2236 19.1284 15.1532 19.1242C13.7939 19.0366 12.5299 18.5023 11.5809 18.0474C9.00317 16.7911 6.74043 15.0089 4.86309 12.7467C3.3173 10.8727 2.2771 9.12803 1.58916 7.25818C1.16231 6.1104 1.00068 5.18799 1.06699 4.34907Z" fill="#D20373"/>
                  </svg>
                  |+7 (495) 772-98-80
                .flex.gap-2.text.18px.text-magenta 
                  <svg width="20" height="40" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.125 0.517822H1.87501C0.841067 0.517822 0 1.36489 0 2.4062V13.7364C0 14.7777 0.841067 15.6248 1.87501 15.6248H18.125C19.1589 15.6248 20 14.7777 20 13.7364V2.4062C20 1.36489 19.1589 0.517822 18.125 0.517822ZM18.125 1.77673C18.2099 1.77673 18.2907 1.79447 18.3645 1.82546L10 9.12675L1.63542 1.82546C1.70927 1.79452 1.79005 1.77673 1.87497 1.77673H18.125ZM18.125 14.3658H1.87501C1.53017 14.3658 1.24999 14.0837 1.24999 13.7364V3.15551L9.59045 10.4354C9.70826 10.5381 9.85413 10.5891 10 10.5891C10.1459 10.5891 10.2917 10.5381 10.4096 10.4354L18.75 3.15551V13.7364C18.75 14.0837 18.4698 14.3658 18.125 14.3658Z" fill="#D20373"/>
                  </svg>
                  |rent@trc-bravo.ru
    section#mapsection(class="relative" style="margin-bottom:-50px;")
      .mapblock#mapblock
        .gradient.bold(class="text-40px md:text-60px") Как добраться?
        .text-18px.text-dblue.bold
          |с 10:00 до 22:00 (без выходных и праздников) 
          br 
          br
          a(href="tel:+7 (495) 772-98-80")|+7 (495) 772-98-80
          br 
          br
          a(href="pr@trc-bravo.ru")|pr@trc-bravo.ru
          br 
          br
          |Москва, ул. Борисовские Пруды, 26, корп.2
          br
          br
        .button.bg-dblue.text-white 
          a(href="https://yandex.ru/maps/213/moscow/?indoorLevel=1&ll=37.760739%2C55.638299&mode=routes&rtext=~55.639034%2C37.759228&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgk3NzQ4NDQ0NDUST9Cg0L7RgdGB0LjRjywg0JzQvtGB0LrQstCwLCDRg9C70LjRhtCwINCR0L7RgNC40YHQvtCy0YHQutC40LUg0J%252FRgNGD0LTRiywgMjbRgTIiCg10CRdCFV%252BOXkI%253D&z=17") Построить маршрут
      .boxmap#boxmap
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A10b27be03bc48ab537b5d51d4332ccab9aa32cbf221aef52b70ed2707f6d585e&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
               

            