extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Главная страница';
  - var pageClass = 'index';
  


block content
  section.logo
    .image-container.absolute#left-right
      img(src='/assets/img/FlyingProducts.png')
    .image-container.m-auto.relative
      img(src='/assets/img/BigLogo.png')
  section.sections 
    .container 
      a(href='/izdeliya.html')
        h1 Кондитерские изделия от производителя
      .el-container
        a(href='izdeliya-inside-list.html').el  
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/1.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Торты
        a(href='izdeliya-inside-block.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/2.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Зефир и безе
        a(href='izdeliya-inside-list.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/3.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Кексы
        a(href='izdeliya-inside-block.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/4.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Рулеты
        a(href='izdeliya-inside-list.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/5.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Пирожные
        a(href='izdeliya-inside-block.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/6.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Печенье
        a(href='izdeliya-inside-list.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/7.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Коржики и сочники
        a(href='izdeliya-inside-block.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/8.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Пончики  
        a(href='izdeliya-inside-list.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/9.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Торты-пирожные
        a(href='izdeliya-inside-block.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/10.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Выпечка
        a(href='izdeliya-inside-list.html').el 
          .image-container 
            .fly 
              img(src='/assets/img/Razdeli/11.png')
            .fly-shadow
              img(src='/assets/img/shadow.png')
          .section-name Слойки
  section.questions
    .absolute-bg(class='right-0' style='-top-[149px]')
      img(src='/assets/img/bg-part/rhombus.png')
    .absolute-bg(class='right-0 top-[182px]')
      img(src='/assets/img/bg-part/rhombus_ogrizok.png')
    .absolute-bg(class='right-0 top-[785px]')
      img(src='/assets/img/bg-part/zvezdochka.png')
    .absolute-bg(class='left-0 top-[785px]')
      img(src='/assets/img/bg-part/zvezdochka.png')
    .absolute-bg(class='top-[1211px]')
      img(src='/assets/img/bg-part/chto.png')
    .container
      div(class="flex flex-col-reverse md:grid md:grid-cols-2")
        img(src='/assets/img/glist.png')
        div
          img(src='/assets/img/buble.png')
          .info-text(class='hidden md:block')
            h2.font-bold Станьте нашим партнером
            br
            span Для потенциальных партнеров,кого заинтересовала готовая кулинария оптом, компания «ПРОФКУХНЯ» предлагает сотрудничество на выгодных условиях: работающие с нами проверенные логистические компании оперативно доставят заказ по Москве и Московской области, при этом инновационная упаковка на длительный срок сохранит продукт без применения консервантов и прочей химии.
      .grid.grid-cols-3.text-center(class="hidden md:grid my-[80px] xl:m-0 xl:mb-[100px]")
        div
          .m-auto.w-fit
            <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="46" cy="46" r="46" fill="white"/>
            <path d="M45.728 69C45.2587 69 44.8747 68.8507 44.576 68.552C44.32 68.2533 44.192 67.8907 44.192 67.464V34.312L34.464 41.8C34.08 42.056 33.696 42.1627 33.312 42.12C32.928 42.0347 32.5867 41.8 32.288 41.416L29.6 37.96C29.344 37.576 29.2373 37.1707 29.28 36.744C29.3653 36.3173 29.6 35.976 29.984 35.72L44.32 24.648C44.576 24.4347 44.832 24.3067 45.088 24.264C45.344 24.2213 45.6213 24.2 45.92 24.2H51.552C51.9787 24.2 52.3413 24.3493 52.64 24.648C52.9387 24.9467 53.088 25.3093 53.088 25.736V67.464C53.088 67.8907 52.9387 68.2533 52.64 68.552C52.3413 68.8507 51.9787 69 51.552 69H45.728Z" fill="#8E7CD9"/>
            </svg>
          .rubik.text-white.text-26px.font-bold(class=' m-auto lg:w-1/2')
            |Мы знакомимся и обсуждаем Ваши потребности
        div
          .m-auto.w-fit
            <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="46" cy="46" r="46" fill="white"/>
            <path d="M29.416 69C28.9893 69 28.6267 68.8507 28.328 68.552C28.0293 68.2533 27.88 67.8907 27.88 67.464V64.2C27.88 63.816 27.9653 63.368 28.136 62.856C28.3493 62.3013 28.7973 61.7467 29.48 61.192L39.592 51.144C42.408 48.9253 44.6693 47.048 46.376 45.512C48.1253 43.9333 49.384 42.504 50.152 41.224C50.9627 39.9013 51.368 38.6 51.368 37.32C51.368 35.4 50.8347 33.8427 49.768 32.648C48.744 31.4533 47.1013 30.856 44.84 30.856C43.3467 30.856 42.088 31.176 41.064 31.816C40.04 32.4133 39.2293 33.224 38.632 34.248C38.0773 35.272 37.6933 36.4027 37.48 37.64C37.3947 38.1947 37.16 38.5787 36.776 38.792C36.392 39.0053 36.008 39.112 35.624 39.112H29.928C29.544 39.112 29.224 38.984 28.968 38.728C28.712 38.472 28.584 38.1733 28.584 37.832C28.6267 35.9973 29.0107 34.2267 29.736 32.52C30.4613 30.7707 31.5067 29.2347 32.872 27.912C34.28 26.5467 35.9867 25.4587 37.992 24.648C39.9973 23.8373 42.2587 23.432 44.776 23.432C48.3173 23.432 51.24 24.0293 53.544 25.224C55.8907 26.4187 57.64 28.04 58.792 30.088C59.9867 32.136 60.584 34.44 60.584 37C60.584 39.0053 60.2 40.8613 59.432 42.568C58.664 44.232 57.5547 45.8533 56.104 47.432C54.6533 48.968 52.904 50.5467 50.856 52.168L41.768 61.384H60.008C60.4773 61.384 60.84 61.5333 61.096 61.832C61.3947 62.088 61.544 62.4507 61.544 62.92V67.464C61.544 67.8907 61.3947 68.2533 61.096 68.552C60.84 68.8507 60.4773 69 60.008 69H29.416Z" fill="#8E7CD9"/>
            </svg>

          .rubik.text-white.text-26px.font-bold(class='m-auto lg:w-1/2')
            |Договариваемся о цене и формируем документы на оплату
        div
          .m-auto.w-fit
            <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="46" cy="46" r="46" fill="white"/>
            <path d="M44.904 69.64C41.9173 69.64 39.336 69.2773 37.16 68.552C34.984 67.8267 33.1707 66.888 31.72 65.736C30.312 64.5413 29.2453 63.2613 28.52 61.896C27.7947 60.488 27.4107 59.1013 27.368 57.736C27.368 57.352 27.496 57.0533 27.752 56.84C28.0507 56.584 28.392 56.456 28.776 56.456H34.536C34.9627 56.456 35.3253 56.5413 35.624 56.712C35.9227 56.8827 36.1787 57.224 36.392 57.736C36.776 58.888 37.3947 59.8053 38.248 60.488C39.144 61.1707 40.168 61.6613 41.32 61.96C42.472 62.216 43.688 62.344 44.968 62.344C47.528 62.344 49.5547 61.7467 51.048 60.552C52.584 59.3147 53.352 57.5653 53.352 55.304C53.352 53.0427 52.648 51.4213 51.24 50.44C49.832 49.416 47.8693 48.904 45.352 48.904H38.76C38.2907 48.904 37.9067 48.776 37.608 48.52C37.3093 48.2213 37.16 47.8373 37.16 47.368V44.68C37.16 44.2533 37.2453 43.8907 37.416 43.592C37.6293 43.2507 37.8427 42.9733 38.056 42.76L49.512 31.56H31.208C30.7387 31.56 30.3547 31.4107 30.056 31.112C29.8 30.8133 29.672 30.4507 29.672 30.024V25.8C29.672 25.3307 29.8 24.9467 30.056 24.648C30.3547 24.3493 30.7387 24.2 31.208 24.2H58.664C59.1333 24.2 59.5173 24.3493 59.816 24.648C60.1147 24.9467 60.264 25.3307 60.264 25.8V29.64C60.264 30.024 60.1787 30.3653 60.008 30.664C59.8373 30.9627 59.6453 31.2187 59.432 31.432L48.36 42.824L49.128 42.888C51.7307 43.1013 54.0347 43.6987 56.04 44.68C58.088 45.6187 59.6667 47.0053 60.776 48.84C61.928 50.6747 62.504 52.9787 62.504 55.752C62.504 58.6533 61.736 61.1493 60.2 63.24C58.7067 65.288 56.6373 66.8667 53.992 67.976C51.3467 69.0853 48.3173 69.64 44.904 69.64Z" fill="#8E7CD9"/>
            </svg>

          .rubik.text-white.text-26px.font-bold(class='m-auto lg:w-1/2')
            |Договариваемся о дате отгрузки; - Доставляеми отгружаем

      .info-text(class='block md:hidden')
        h2.font-bold Станьте нашим партнером
        br
        span Для потенциальных партнеров,кого заинтересовала готовая кулинария оптом, компания «ПРОФКУХНЯ» предлагает сотрудничество на выгодных условиях: работающие с нами проверенные логистические компании оперативно доставят заказ по Москве и Московской области, при этом инновационная упаковка на длительный срок сохранит продукт без применения консервантов и прочей химии.
      .form
        .rubik.text-violet.text-center(class='text-18px text-center sm:text-left')
              |Для обсуждения вопросов сотрудничества оставьте свой номер телефона.
        .flex.gap-12
          input(type='text' placeholder='+7 (___) ___-__-__')
          button.button-gradient-violet.text-center(class='hidden md:block') Отправить
        .opacity-50.color-black.text-20px
            input#p(type='checkbox')
            label(for='p') Я согласен с политикой обработки данных
        .w-fit.mx-auto 
          button.button-gradient-violet.text-center(class='block md:hidden') Отправить
      .contacts
        a(href='contacts.html')
          h1.text-center.text-white Контакты
        .grid.items-center.text-center.gap-7(class='grid-cols-1 my-5 md:grid-cols-3 md:py-15 ')
                  .flex.gap-5.items-center(class="flex-col")
                      div 
                          <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="30.0001" cy="30" r="30" fill="white"/>
                          <path fill='#8E7CD9' fill-rule="evenodd" clip-rule="evenodd" d="M21.9824 18.3758C21.1248 18.4658 20.0491 18.8912 19.3581 19.4135C18.9663 19.7096 18.4379 20.256 18.191 20.6204L18.0132 20.8827L23.0952 25.93C28.0619 30.8627 28.1858 30.9813 28.5532 31.1547C29.1078 31.4163 29.5226 31.4989 30.1499 31.4725C30.7388 31.4478 31.2116 31.3115 31.6727 31.0336C31.8509 30.9262 33.5945 29.2268 36.9624 25.8778L41.9864 20.8821L41.8089 20.6201C41.5628 20.2566 41.0244 19.6986 40.6375 19.4058C40.2126 19.0843 39.3172 18.6507 38.8147 18.5232C38.5949 18.4674 38.2129 18.4005 37.9657 18.3744C37.4367 18.3187 22.5141 18.3199 21.9824 18.3758ZM17.2418 23.3447C17.2247 23.4382 17.2175 26.5872 17.2258 30.3426L17.2408 37.1705L17.3744 37.6525C17.9766 39.8248 19.769 41.3667 21.9763 41.6115C22.6388 41.6849 37.3614 41.6849 38.0239 41.6115C40.2347 41.3664 42.0227 39.8281 42.6258 37.6525L42.7594 37.1705L42.7745 30.3426C42.7827 26.5872 42.7756 23.4385 42.7585 23.3456L42.7276 23.1766L38.0494 27.8193C34.4846 31.357 33.2857 32.5175 33.0121 32.6952C32.5037 33.0254 31.8726 33.3079 31.3089 33.4576C30.8801 33.5715 30.729 33.5864 30.0001 33.5864C29.266 33.5864 29.1218 33.5719 28.6778 33.4542C28.0549 33.289 27.2889 32.9204 26.8023 32.5517C26.5972 32.3963 24.3691 30.2229 21.8511 27.722L17.273 23.1749L17.2418 23.3447Z" fill="white"/>
                          </svg>
                      .rubik.text-white.text-16px  profkuhnya@yandex.ru
                  a(href="https://yandex.ru/maps/10745/orehovo-zuevo/house/kooperativnaya_ulitsa_17/Z0EYfwBkSEMEQFtvfXt4eXthZw==/?ll=38.974163%2C55.798723&z=17").flex.gap-5.items-center(class="flex-col")
                      div 
                          <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle  cx="30" cy="30" r="30" fill="white"/>
                          <path fill='#8E7CD9' fill-rule="evenodd" clip-rule="evenodd" d="M28.4595 16.1725C22.0004 16.8415 17.018 22.4736 17.2287 28.8678C17.2619 29.8765 17.3691 30.4379 17.7302 31.4928C18.882 34.8579 22.2814 39.3284 27.1378 43.8642C28.1996 44.856 29.6452 46.1111 29.7256 46.1111C29.8385 46.1111 31.6161 44.5328 33.0386 43.1696C37.4678 38.9252 40.5545 34.7748 41.7011 31.5222C42.0682 30.481 42.1822 29.8933 42.2159 28.8678C42.3869 23.6782 39.0561 18.764 34.111 16.9098C32.3334 16.2433 30.3166 15.9801 28.4595 16.1725ZM31.3547 22.6158C33.4801 23.2084 35.1299 24.8453 35.7361 26.9629C36.705 30.3471 34.6914 33.8632 31.2615 34.7768C30.5087 34.9773 29.1372 35.0038 28.4066 34.8319C27.1808 34.5436 26.1322 33.9636 25.2859 33.106C23.6874 31.486 23.0854 29.1395 23.7092 26.9604C24.3495 24.7236 26.1588 23.0317 28.4416 22.535C29.2355 22.3623 30.579 22.3996 31.3547 22.6158ZM29.1671 24.9537C27.0358 25.2822 25.6103 27.3434 26.0514 29.4592C26.3383 30.8353 27.489 32.0252 28.8413 32.3441C29.0513 32.3936 29.4477 32.4341 29.7223 32.4341C30.7713 32.4341 31.589 32.0947 32.3422 31.3467C33.285 30.4104 33.6519 29.2061 33.3892 27.9094C32.999 25.983 31.1026 24.6554 29.1671 24.9537Z" fill="white"/>
                          </svg>
                      .rubik.text-white.text-16px  Московская область, г. Орехово-Зуево,ул. Кооперативная, д. 17 А
                  a(href="tel:+7 903 799 09 39").flex.gap-5.items-center(class="flex-col")
                      div 
                          <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle fill='white' cx="30" cy="30" r="30" fill="#8E7CD9"/>
                          <path fill='#8E7CD9' fill-rule="evenodd" clip-rule="evenodd" d="M21.3988 17.8575C21.0251 17.9383 20.4445 18.2021 20.1418 18.4288C20.0292 18.513 19.6148 18.8622 19.2209 19.2048C18.1359 20.1485 17.5159 21.0467 17.0766 22.3111C16.7325 23.3017 16.6667 23.7327 16.6667 24.9971C16.6666 26.2356 16.7085 26.5602 17.0247 27.7696C17.5891 29.9282 18.9367 32.4331 20.7481 34.6902C23.6608 38.3199 27.7333 41.4714 31.3987 42.9323C33.0048 43.5725 34.1575 43.8373 35.5398 43.8838C37.5 43.9496 39.1493 43.3852 40.4744 42.1951C40.7581 41.9403 41.8375 40.7364 42.1261 40.353C42.7284 39.5525 42.9261 38.373 42.622 37.394C42.3474 36.51 42.1262 36.2559 40.6229 35.097C39.9374 34.5685 39.207 34.0016 38.9999 33.8371C38.7928 33.6726 38.4853 33.4686 38.3166 33.3836C37.3604 32.9023 36.1304 32.9195 35.1988 33.4274C34.9913 33.5405 34.3532 34.0364 33.6395 34.6392C32.975 35.2003 32.405 35.6659 32.3727 35.6738C32.3404 35.6817 31.9463 35.5062 31.497 35.2838C28.7715 33.9354 26.6029 31.7743 25.2321 29.041C25.0048 28.5877 24.8254 28.1899 24.8335 28.1569C24.8415 28.1239 25.3085 27.5548 25.8712 26.8921C26.9781 25.5887 27.2178 25.2229 27.3805 24.5884C27.6423 23.5674 27.3724 22.3445 26.7191 21.5917C26.6156 21.4725 26.0626 20.7697 25.4903 20.0302C24.3791 18.5942 24.1542 18.3723 23.5181 18.0832C22.8787 17.7926 22.0881 17.7084 21.3988 17.8575ZM31.3771 17.9121C30.7022 18.2475 30.5723 19.0787 31.1109 19.6158C31.3869 19.8911 31.6323 19.9719 32.1923 19.9719C32.9669 19.9719 34.1788 20.2177 34.9984 20.5409C37.3315 21.461 39.0872 23.2148 40.0136 25.5505C40.3283 26.3442 40.5786 27.5779 40.5786 28.3354C40.5786 28.8938 40.6597 29.1385 40.9358 29.4139C41.4823 29.9589 42.3135 29.8208 42.6531 29.1285C42.791 28.8475 42.7931 28.8292 42.7604 28.1949C42.6114 25.3059 41.4531 22.7751 39.3695 20.7866C37.5965 19.0945 35.3516 18.072 32.8835 17.8325C31.9675 17.7436 31.6863 17.7584 31.3771 17.9121ZM31.5643 22.1733C31.4599 22.2022 31.2704 22.3172 31.1432 22.4288C30.3802 23.0986 30.8864 24.3073 31.9305 24.3087C32.5969 24.3096 33.3882 24.5268 34.0306 24.8851C34.5555 25.1778 35.3585 25.9786 35.652 26.502C36.0113 27.1427 36.2291 27.9319 36.2299 28.5965C36.2314 29.6377 37.4434 30.1425 38.115 29.3816C38.4009 29.0577 38.4533 28.8036 38.3817 28.0893C38.1222 25.5 36.4705 23.3742 34.0426 22.5044C33.2872 22.2339 31.9775 22.0589 31.5643 22.1733Z" fill="white"/>
                          </svg>
                      .rubik.text-white.text-16px  +7 903 799 09 39
        .map 
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8a2cceca52926d5a9b2ae0b872a0d3cc3b3f8bf8480f565ded603f47a036af4a&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>



