extends ../layout/main

block variables
  - var title = 'Разделы';
  - var description = '';
  - var pageClass = ' ';

block content
    
        .container
            .breadcrumbs
                a(href='index.html').el Главная 
                a(href='izdeliya.html').el.current Кондитерские изделия 
            h1.main-title.text-center Кондитерские изделия от производителя
            .el-container
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/1.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Торты
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/2.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Зефир и безе
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/3.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Кексы
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/4.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Рулеты
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/5.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Пирожные
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/6.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Печенье
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/7.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Коржики и сочники
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/8.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Пончики  
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/9.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Торты-пирожные
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/10.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Выпечка
                 a(href='izdeliya-inside-list.html').el
                    .image-container 
                        .fly 
                            img(src='/assets/img/Razdeli/11.png')
                        .fly-shadow
                            img(src='/assets/img/shadow.png')
                    .section-name Слойки