extends ../layout/main

block variables
  - var title = 'Детали новости';
  - var description = 'ё вместе с Лентой!';
  - var pageClass = 'index-page';


block content

    .bg-bej(style="height:125px;    border-radius: 0 0 60px 60px ;")
    section
        .container 
            .text-12px.text-grey.whitespace-nowrap.pb-5.bold Главная  /  акции  / 
                span.gradient  Экономь вместе с«ЛЕНТОЙ» 
            .gradient.bold.mb-10(class="text-40px text-center md:text-60px md:text-left") Экономь вместе с «ЛЕНТОЙ»
            .items(style="background-image:url(../assets/img/third.png);height:400px" ).relative.pb-5
                img(src="../assets/img/lentochka.png" style="margin: auto; " ).absolute.inset-0
            div(class="block md:grid" style="grid-template-columns:2fr 1fr").bold.mt-5.p-5
                .bord.text-black.pb-5
                    .text-32px(class="text-center md:text-left") С «ЛЕНТОЙ» для экономии не нужен повод!
                    br
                    .text-18px
                        |Именно поэтому, выбирая ваши любимые и необходимые товары из нашего ассортимента, вы можете быть уверены — это выгодно, потому что ВСЁ НУЖНОЕ ПО НИЗКИМ ЦЕНАМ!
                        br
                        br
                        |Это значит, что делать повседневные покупки у нас выгодно даже без учёта дополнительных скидок и акций.
                    
                    .gap-10.p-10(class="hidden sm:flex")
                        <svg width="74" height="30" viewBox="0 0 74 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="74" width="2" height="74" transform="rotate(90 74 0)" fill="#FCDDEC"/>
                        </svg>
                        div
                            .text-24px.text-magenta Начните экономить легко!
                            .text-24px.text-magenta Отличных покупок!
                div.text-center.m-auto.my-0.text-center
                    img(src="../assets/img/izo.png" style="" class="w-full" )
                    .text-18px.text-black 1 этаж
                    .button.bg-dblue.text-18px.text-white.my-5.mx-auto.w-auto
                        .flex.gap-2.justify-center
                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.947 5.81812C11.7404 2.64125 9.14762 0.152588 6.04415 0.152588C2.96658 0.152588 0.374008 2.63887 0.141548 5.81707C0.0489697 7.20617 0.487523 8.64277 1.38143 9.86847L5.52083 15.4022C5.64415 15.5671 5.83806 15.6643 6.04415 15.6643C6.25025 15.6643 6.44392 15.5672 6.56747 15.4022L10.7063 9.86933C11.6023 8.6748 12.0429 7.23558 11.947 5.81812ZM9.66004 9.08546L6.04415 13.9194L2.43283 9.09179C1.72412 8.11992 1.37334 6.98765 1.44545 5.90812C1.60537 3.72141 3.36943 1.45954 6.04415 1.45954C8.74153 1.45954 10.5006 3.71856 10.6426 5.90465C10.7176 7.01117 10.3688 8.14081 9.66004 9.08546Z" fill="white"/>
                            <path d="M6.00035 3.20239C4.66679 3.20239 3.58203 4.28716 3.58203 5.62071C3.58203 6.95426 4.66679 8.03902 6.00035 8.03902C7.33366 8.03902 8.41866 6.95426 8.41866 5.62071C8.41862 4.28712 7.3339 3.20239 6.00035 3.20239ZM6.00035 6.7318C5.38773 6.7318 4.88926 6.23332 4.88926 5.62071C4.88926 4.99762 5.37726 4.50962 6.00035 4.50962C6.62343 4.50962 7.11144 4.99762 7.11144 5.62071C7.11144 6.23332 6.61296 6.7318 6.00035 6.7318Z" fill="white"/>
                            </svg>
                            |На карте
                    .button.bg-magenta.text-18px.text-white.my-5.mx-auto.w-auto
                        .flex.gap-2.justify-center
                                <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.947 5.81812C11.7404 2.64125 9.14762 0.152588 6.04415 0.152588C2.96658 0.152588 0.374008 2.63887 0.141548 5.81707C0.0489697 7.20617 0.487523 8.64277 1.38143 9.86847L5.52083 15.4022C5.64415 15.5671 5.83806 15.6643 6.04415 15.6643C6.25025 15.6643 6.44392 15.5672 6.56747 15.4022L10.7063 9.86933C11.6023 8.6748 12.0429 7.23558 11.947 5.81812ZM9.66004 9.08546L6.04415 13.9194L2.43283 9.09179C1.72412 8.11992 1.37334 6.98765 1.44545 5.90812C1.60537 3.72141 3.36943 1.45954 6.04415 1.45954C8.74153 1.45954 10.5006 3.71856 10.6426 5.90465C10.7176 7.01117 10.3688 8.14081 9.66004 9.08546Z" fill="white"/>
                                <path d="M6.00035 3.20239C4.66679 3.20239 3.58203 4.28716 3.58203 5.62071C3.58203 6.95426 4.66679 8.03902 6.00035 8.03902C7.33366 8.03902 8.41866 6.95426 8.41866 5.62071C8.41862 4.28712 7.3339 3.20239 6.00035 3.20239ZM6.00035 6.7318C5.38773 6.7318 4.88926 6.23332 4.88926 5.62071C4.88926 4.99762 5.37726 4.50962 6.00035 4.50962C6.62343 4.50962 7.11144 4.99762 7.11144 5.62071C7.11144 6.23332 6.61296 6.7318 6.00035 6.7318Z" fill="white"/>
                                </svg>
                                |Сайт магазина

