extends ../layout/main

block variables
  - var title = 'Заявка на аренду';
  - var description = ' ';
  - var pageClass = 'index-page';


block content
  .bg-bej(style="height:125px;    border-radius: 0 0 60px 60px ;")
  section#request
    .container 
      .text-12px.text-grey.whitespace-nowrap.pb-5.bold Главная  / 
        span.gradient  Заявка на аренду
      .gradient.bold.mb-10(class="text-40px text-center md:text-60px md:text-left") Заявка на аренду
    
      .bg-bej.text-center.round60px.justify-center.my-5(class="p-3 xl:p-0")
        form.pb-5
          .text-black.text-32px.p-5.bold Данные компании
          input(type="text" title required  placeholder="Название компании" class="xl:w-3/4")
          input(type="text" required placeholder="Название магазина/торговой секции" class="xl:w-3/4")
          input(type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required placeholder="Контактное лицо, должность" class="xl:w-3/4")
          input(type="email" required placeholder="Телефон" class="xl:w-3/4")
          input(type="text" required placeholder="E-mail" class="xl:w-3/4")
          .text-black.text-32px.p-5.bold Торговая деятельность
          input(type="text" required placeholder="Профиль торговой деятельности (торговля,услуги)" class="xl:w-3/4")
          input(type="text" required placeholder="Желаемый размер арендуемой площади (Площадь от-до м2, Этаж " class="xl:w-3/4")
          input(type="text" required placeholder="Товарный ассортимен" class="xl:w-3/4")
          input(type="text" required placeholder="Основные торговые марки" class="xl:w-3/4")
          input(type="text" required placeholder="Количество магазинов, города и ТЦ присутствия торговой секции" class="xl:w-3/4")
          input(type="text" required placeholder="Минимальная/максимальная стоимость единицы товара; средний чек" class="xl:w-3/4")
          input(type="text" required placeholder="Планируемая дата начала торговой деятельности" class="xl:w-3/4")
          .text-black.p-5.bold Просьба вместе с данной заявкой предоставить дизайн-проект/фотографии/макеты Вашей торговой секции.
          label.relative.rounded-3xl.border-dashed.border-2.flex.justify-center(for="myfile" class="p-14 lg:p-20 xl:w-3/4 ").overflow-hidden.mx-auto
            .flex.flex-col.items-center 
              img(width="62" height="62" src="../assets/img/imgsrc.svg")
              |Загрузите макет вашей торговой секции ( не более 25 мб)
              #skolko
            input(type="file" required name="myfile[]" multiple id="myfile" )
          textarea(class="xl:w-3/4" placeholder="Написать сообщение").rounded-3xl.m-5.p-5
          br
          button.button.bg-magenta.text-white.text-24px Отправить
