extends ../layout/main  

block content  
    <section class="pb-[50px] sm:pb-[60px] lg:pb-[50px] 2xl:pb-[40px] overflow-hidden">
        <div class="container mb-[90px]  lg:mb-[104px]">
            <div class="grid gap-11  2xl:grid-cols-[10fr_5fr]">
                <div>
                    <svg class="mb-5" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                        <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
                    </svg>
                    <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="1" fill="none">
                        <line y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
                    </svg>
                    <h1 class="section-title-style my-[33px] sm:my-11">
                        | Заказать  <span class="text-violet">полусухую стяжку пола</span> в Москве и Московской области
                    </h1>
                    <svg class="mb-[33px] sm:mb-11" xmlns="http://www.w3.org/2000/svg" width="70%" height="1" fill="none">
                        <line y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
                    </svg>
                    <p class="section-description-style text-dark-violet">
                        | Компания Vollmix предлагает качественные механизированные работы по устройству полусухой стяжки пола
                        | на объектах любой степени сложности: в жилых, производственных, складских, административных
                        | помещениях.
                    </p>
                    <button class="btn preset-2 mt-[60px]">Заказать  <span class="hidden sm:inline">стяжку пола</span>
                    </button>
                </div>
                <div class="self-end">
                    include ../includes/fastView
                </div>
            </div>
        </div>
        <div class="">
            include ../includes/ticker
        </div>
    </section>
    <section class="bg-[#F4F4F4] py-[60px] sm:pt-[140px] sm:pb-[100px] lg:pb-[140px]">
        <div class="container">
            <svg class=" scrollTrg mb-5" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
            </svg>
            <svg class="scrollTrg mb-10" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>
            <div class="block 2lg:flex">
                <h2 class="section-title-style">
                    | Устройство <span class="text-violet">полусухой стяжки пола</span> на объектах любой степени сложности
                </h2>
                <p class="section-subtitle-style max-w-[400px] hidden 2lg:block">Технический контроль на всех этапах работы,
                    | экспертное заключение лаборатории, инженерное сопровождение по каждому объекту индивидуально.</p>
            </div>
            <svg class="my-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>
            <div class="mt-[50px] sm:mt-[100px] mb-[140px]">
                include ../includes/objectExamples
            </div>

        </div>

        <div class="container p-0 sm:px-5 md:px-6 lg:pr-0 2xl:px-[130px]">
            <div class="flex">
                <div class="flex ">
                    <svg class='hidden lg:block mr-5' width="1" height="65%" viewBox="0 0 1 65%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.5" y1="2.18557e-08" x2="0.499958" y2="65%" stroke="#372E37" />
                    </svg>
                    <svg class='hidden lg:block 2lg:mr-[120px] mr-[50px]' width="1" height="50%" viewBox="0 0 1 50%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line opacity="0.5" x1="0.5" y1="2.18557e-08" x2="0.499976" y2="50%" stroke="#372E37" />
                    </svg>
                    include ../includes/formCalc
                </div>
            </div>
        </div>
    </section> 
    <section class="bg-[#F4F4F4] py-[60px] sm:pt-[140px] sm:pb-[100px] lg:pb-[140px]">
        <div class="container">
            <svg class="mb-5 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
            </svg>
            <svg class="mb-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg> 
                
            <div class="block 2lg:flex">
                <h2 class="section-title-style">
                   | Оцените <span class="text-violet">результаты выполненных</span> работ по сухой стяжке пола 
                </h2>
                <p class="section-subtitle-style max-w-[400px] hidden 2lg:block">Мы подготовим идеально ровный пол для любого покрытия</p>
            </div> 
            <svg class="mt-10 mb-[100px] scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>     
            include ../includes/giveMark
            
        </div> 
    </section>
    <section class="bg-[#F4F4F4] py-[60px] sm:pt-[140px] sm:pb-[100px] lg:pb-[140px]">
        <div class="container">
            <svg class="mb-5 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
            </svg>
            <svg class="mb-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg> 
                
            <div class="block 2lg:flex">
                <h2 class="section-title-style">
                   | Профессиональное оборудование для работы в  <span class="text-violet">крайние сроки с большими площадями</span>  
                </h2>
                <p class="section-subtitle-style max-w-[400px] hidden 2lg:block">Современный метод изготовления стяжки пола при помощи данного оборудования позволяет выполнять работы быстро и безупречно</p>
            </div> 
            <svg class="mt-10 mb-[100px] scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>     
            include ../includes/equipmentItemsWithChars
            
        </div> 
    </section>

    <section class="bg-[#F4F4F4] py-[60px] sm:pt-[140px] sm:pb-[100px] lg:pb-[140px]">
        <div class="container">
            <svg class="mb-5 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
            </svg>
            <svg class="mb-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg> 
                <h2 class="section-title-style">
                      <span class="text-violet">Полусухая стяжка</span> в сравнении с традиционной (мокрой)
                </h2>  
            <svg class="mt-10 scrollTrg mb-[100px]" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>   
                <div class="flex">
                    <div class="flex ">
                        <svg class='hidden lg:block mr-5' width="1" height="65%" viewBox="0 0 1 65%" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.5" y1="2.18557e-08" x2="0.499958" y2="65%" stroke="#372E37" />
                        </svg>
                        <svg class='hidden lg:block 2lg:mr-[120px] mr-[110px]' width="1" height="50%" viewBox="0 0 1 50%" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line opacity="0.5" x1="0.5" y1="2.18557e-08" x2="0.499976" y2="50%" stroke="#372E37" />
                        </svg>
                        include ../includes/tableTemplate
                    </div>
                </div> 

        </div>
 
    </section>
    <section class="py-[60px] sm:py-[140px]">
        <div class="container">
            <svg class="mb-5 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
            </svg>
            <svg class="mb-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>

            <h2 class="section-title-style">
                | Компания Vollmix предлагает  <span class="text-violet">качественные механизированные работы</span>
                </h2> 
            <svg class="my-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>
            <div class="simple-list">
                <ul class="simple-list__wrapper">
                    <li>Полусухая стяжка не требует дополнительного выравнивания, подходит для любого финишного покрытия. Уже через 12 часов по стяжке можно производить некоторые виды отделки</li>
                    <li>Средняя толщина механизированной стяжки составляет 5-8 см, максимальная – 15 см, что позволяет скрыть различные коммуникации (систему теплого пола, электропроводку, трубы отопления и водоснабжения), устранить большие перепады, объемные трещины и прочие дефекты</li>
                    <li>Для замешивания раствора используется минимальное количество воды, благодаря чему растворная смесь не подвергается дальнейшей усадке и растрескиванию</li>
                    <li>Полусухая стяжка пола помогает сохранить тепло в помещении, обладает хорошей звуко- и теплоизоляцией, не боится влаги (не станет причиной протечек на лежащие под перекрытием конструкции)</li>
                    <li>Автоматизация процесса позволяет значительно повысить качество работ, снизить их трудоемкость, исключить технологические простои, а также сэкономить на стоимости исходных материалов</li>
                    <li>Благодаря использованию современного машинного оборудования технология полусухой стяжки пола позволяет обработать площадь до 400 м2 в течение одной рабочей смены. Таким образом, скорость выполнения механизированных работ в несколько раз выше, чем при ручном способе</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="bg-[#F4F4F4]     sm:pb-[70px] lg:pb-[140px]">

        <div class="container p-0 sm:px-5 md:px-6 lg:pr-0 2xl:px-[130px] mb-[50px]">
            <div class="flex">
                <div class="flex ">
                    <svg class='hidden lg:block mr-5' width="1" height="65%" viewBox="0 0 1 65%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.5" y1="2.18557e-08" x2="0.499958" y2="65%" stroke="#372E37" />
                    </svg>
                    <svg class='hidden lg:block 2lg:mr-[120px] mr-[50px]' width="1" height="50%" viewBox="0 0 1 50%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line opacity="0.5" x1="0.5" y1="2.18557e-08" x2="0.499976" y2="50%" stroke="#372E37" />
                    </svg>
                        include ../includes/formCalc
                </div>
            </div>
        </div>
                        include ../includes/ticker
        <div class="container mt-[140px] ">
            <svg class="mb-5 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="40%" height="1" fill="none">
                <line opacity="0.5" y1="0.5" x2="100%" y2="0.5" stroke="#503181" />
            </svg>
            <svg class="mb-10 scrollTrg" xmlns="http://www.w3.org/2000/svg" width="90%" height="1" fill="none">
                <line y1="0.5" x2="90%" y2="0.5" stroke="#503181" />
            </svg>

            <h2 class="section-title-style">
                | Наши <span class="text-violet">контакты</span>
            </h2>
            <div>
                <div class="contacts-row">
                    <a href="" class="text-[16px] sm:text-[24px]">
                        | Москва, Малая Пироговская ул., 12
                    </a>
                    <a href="" class="text-[16px] sm:text-[24px]">
                        | 8 (925) 555-77-88
                    </a>
                    <a class="text-violet underline text-[16px] sm:text-[24px]" артем href="mailto:Info@vollmix.ru">
                        | Info@vollmix.ru
                    </a>
                </div>
                <div class="bg-silver min-h-[600px]">

                </div>
            </div>
        </div>
            <div class="mt-[140px]"> 
            include ../includes/ticker
            </div>
    </section>