extends ../layout/main
block variables
    - var title = '404';
    - var description = '';
    - var pageClass = '';
    - var podlozhka = true

block content 
    <div>
        <img id="test" loading="lazy" src="assets/img/test.jpg">
    </div>