include ../mixins/mixins  
block variables

doctype html
html(lang='en')
  head
    
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
    block head

  body(class="debug-screens")
    .wrapper

      if podlozhka == true 
        <div class="bg-podlozhka" ></div> 
        <div class="bg-podlozhclone" ></div>
      else 
         style(type='text/css').
          header{background: url(/assets/img/header-bg.jpeg);background-size: contain; background-color: var(--dark-violet); animation: headerRun linear 50s infinite;}
          .hdr__wrapper{padding-bottom:56px;}
          :root{--header-text-var: #FFFFFF;}
          .wrapper-page{background: var(--vwhite);}
      include ../includes/header
      .wrapper-page
        .wrapper-content
          main 
            block content
      include ../includes/footer
    block script