/* Tailwind import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
/* Browser specific styles */
@import 'dirty/hacks';


/* Page layout */
@import 'blocks/header';
@import 'blocks/bigLogo';
@import 'blocks/awesomeCard';
@import 'blocks/ticker';
@import 'blocks/listIndex';
@import 'blocks/formCalc';
@import 'blocks/companyCarousel'; 
@import 'blocks/equipmentItems'; 
@import 'blocks/laboratories';
@import 'blocks/process';
@import 'blocks/infoForm';
@import 'blocks/projects';
@import 'blocks/contacts';
@import 'blocks/burgeer';
@import 'blocks/fastView';
@import 'blocks/objectExamples';
@import 'blocks/equipmentItemsWithChars';
@import 'blocks/tableTemplate';
@import 'blocks/simpleList';
@import 'blocks/giveMark';
@import 'blocks/workType';
@import 'blocks/blogDetail';
@import 'blocks/e404';
@import 'blocks/blog';
@import 'blocks/footer'; 
@import "@fancyapps/ui/dist/fancybox.css";
/* Pages styles */
@import 'demo';


@import 'popups/css/popupS.css';

@import 'wowjs/css/libs/animate.css';
//@import 'swiper/swiper.scss';

// @import url("choices.js/public/assets/styles/base.css");
// @import url("choices.js/public/assets/styles/base.min.css");
// @import url("choices.js/public/assets/styles/choices.css");
// @import url("choices.js/public/assets/styles/choices.min.css");


html{
  scroll-behavior:smooth;
}

.wrapper {
    &-page{
        @apply pb-[30px] sm:pb-[50px] pt-[33px] sm:pt-[60px] md:pt-[100px] 2lg:pt-[126px]  ;
        min-height: 100vh;
    }
    &-content{
        min-height: 100vh;
    }
}
.bg-podlozhka{
  @apply w-full h-[4000px] md:h-[2600px] 2lg:h-[2000px];
  background: url(/src/assets/img/main-banner-bg.jpg); 
  background-position: right;
  z-index: -1;
  background-size: cover;
  position: absolute;
  animation: hopHeyOpacity 5s infinite;
}
@keyframes hopHeyOpacity {
  0% {
    opacity:  1;
  }

  15% {
    opacity: 0.6;
  } 

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0;
  } 

  65% {
    opacity: 0.4;
  } 

  80% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
.bg-podlozhclone{
  @apply w-full h-[4000px] md:h-[2600px] 2lg:h-[2000px];
  background: #e9e9eb;
  background-position: right;
  z-index: -2;
  background-size: cover;
  position: absolute;
}

input.toggler__hidden:checked + label.toggler__label .toggler__switch{
    transform: translateY(2px);
  }
  input.toggler__hidden:checked + label.toggler__label .toggler__wrapper{
    background: #59C18F;
  }
  input:focus ~ label, input:valid ~ label{
    @apply text-[16px] #{!important};
    bottom: 46px;
  }

  .inpt{
    @apply bg-silver text-[20px] sm:text-[24px]  p-[19px_13px_19px_31px] leading-[140%] tracking-[0.6px] sm:tracking-[0.72px] w-full;


    &__wrapper{
      @apply relative;
    }
    &__placeholder{
      @apply absolute text-[20px] sm:text-[24px]  leading-[140%] tracking-[0.72px] opacity-[0.5];
      left : 31px;
      pointer-events: none;
      bottom: 19px;
      transition: all 0.15s ease-in-out;
    }

  }

  .switch-row{
    @apply flex mb-[60px] flex-wrap;
    >*:not(:last-child){
      @apply  mr-3  md:mr-10 mb-10;
    }
  }
  .switch-element{
      @apply w-fit overflow-hidden;
      i {
          @apply block py-4 pr-[10px];
      }
      &__wrapper{
          @apply flex w-fit ;
          border-top: 1px solid var(--white);
          border-right: 1px solid var(--white);
      }
      &__inner{
          @apply relative py-4 pr-[22px] pl-[10px] text-[15px] md:text-[18px] text-white overflow-hidden;
          &:after{
              @apply absolute bg-white top-[0] -right-[100%]  ;
              content : '';
              width: 100%;
              height: 100%;
              z-index: 0;
              transition : 0.4s;
          }
        &-main-text{
          @apply relative z-[1];
          transition: color 0.4s ;
        }
      }
  }
  .switch-element:hover .switch-element__inner:after{
    transform: translate(-100%,0)  ;
  }
  .switch-element:hover .switch-element__inner-main-text{
    @apply text-violet;
  }
.toggler{
    @apply w-fit;
    &__wrapper{
      @apply bg-silver w-[28px] h-[72px];
      transition: background 0.3s ease-out;
    }
    &__switch{
      @apply bg-white h-[30px] w-[24px] m-auto;
      transform: translateY(39px);

      transition: transform 0.3s ease-out;
    }
    &__hidden{
      @apply absolute -z-[111111];
    }
    &__label{

      @apply w-fit block;
    }
  }

  .btn{
    @apply p-[15px_0_15px_22px] text-[24px] font-bold flex items-center leading-[120%]; 
    &:after{ 
      @apply ml-5 h-[25px];
      }
  }
  .btn.preset-1{ 
    @apply text-white;
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

    &:after{  
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M3.75817 9.81885e-08L25 0L25 21.4248H17.4837V12.7264L5.31485 25L0 19.6394L11.9553 7.58108L3.75817 7.58108L3.75817 9.81885e-08Z' fill='white'/%3E%3C/svg%3E");
      }
  }
  .btn.preset-2{ 
    @apply text-dark;
    border-left: 1px solid var(--violet);
    border-bottom: 1px solid var(--violet);

    &:after{  
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='26' viewBox='0 0 25 26' fill='none'%3E%3Cpath d='M3.75817 0.707031L25 0.707031L25 22.1318H17.4837V13.4334L5.31485 25.707L0 20.3464L11.9553 8.28811L3.75817 8.28811L3.75817 0.707031Z' fill='%23B611B6'/%3E%3C/svg%3E");
    }
  }

