/* Tailwind import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
/* Browser specific styles */
@import 'dirty/hacks';


/* Page layout */
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/ddmenu.scss';

@import "@fancyapps/ui/dist/fancybox.css";
/* Pages styles */
@import 'demo';

*{
    
    font-family: 'DINP-R';
}
.floating-img{
    @apply block static w-full h-full;
    z-index: 1;
}

.top-round{
    border-radius: 60px 60px 0 0 ;
}
@media (min-width:720px){
    .floating-img{
        @apply absolute w-5/12 top-0 right-0;
        object-fit: cover;
        border-radius: 0 60px 0 0;
    }
    #parallax6{
        border-radius: 60px 60px 0 0;
    }
}
svg{
    min-width: 20px;
    max-width: 100px;
}


#request input[type="text"]{
    @apply  my-4 p-5 round60px w-full h-auto;
}


#request input[type="file"]{
    @apply absolute left-0 -top-10 w-full h-full ;
}
#request textarea{
    @apply w-10/12;
}

.container{
    padding-top: 50px;
    margin: auto;
}
.bold{
    font-weight: bolder;
}
.gradient{
    background: linear-gradient(90deg, var(--dark-blue) 0%, var(--magenta) 30%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.swiper{
    width: 100%;
    height: 500px;
    background-color: --transparent
    
}
.swiper-slide.bgbaba{
    border-radius: 60px;
}

.gallery{
    @apply mb-10;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    overflow: hidden;
    
}

.swiper .swiper-slide{
    border-radius: 0 0 60px 60px;
}
.swiper-products {
    width: 100%;
    max-height: 1000px;
    overflow: hidden;
}

.swiper-button-next:after, .swiper-button-prev:after{
   content: none !important;
}
.swiper-button-prev, .swiper-button-next{
    width: auto !important;
    height: auto !important;
    position: absolute;
    top:75% !important;
    
}
@media(min-width:480px){
    .swiper-button-prev, .swiper-button-next{
        
        top:50% !important;
        
    }
}
li {
    @apply leading-9;
    list-style-type: none; /* Убираем маркеры у списка */
    white-space:prewrap;
    margin-left: 20px;
    padding-left:20px;
   }
li:before {
    @apply text-magenta;
    margin-right: 20px;
    content: "♦"; /* Добавляем в качестве маркера символ */
}

.bgbaba{
    background-image: url(../assets/img/babanaphonke.png);background-position: center;
    background-size:cover;
}

.bg1{
    background-image: url(../assets/img/bg1.png);background-position: center;
    background-size:cover;
}
.bg2{
    background-image: url(../assets/img/bg2.webp);;
    background-position: center;
    background-size:cover;
}
.bg3{
    background-image: url(../assets/img/bg3.jpg);;
    background-position: center;
    background-size:cover;
}
#parallax .blocks{
    @apply grid gap-6 grid-cols-2;
    
}
.items{
    overflow: hidden;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    background-size:cover;
    background-position:center;

}
#parallax7 .items img, #parallax5 .items img,#parallax2 .items img, #parallax4 .items img{
    background-color: white;
    
}
#parallax .items{
    @apply w-full;
    background-size:cover;
    background-position:center;
    
    
    padding: 40px 30px;
}


.button{
    border-radius: 90px;
    padding: 15px 20px;
    width: fit-content;
    text-align: center;
    white-space:nowrap;
    cursor: pointer;
    transition: 1s;
}
.button:hover {
    box-shadow: 2px 5px 7px var(--blue) ,-2px -5px  7px var(--magenta);
}
.el{
    @apply flex gap-3 bg-transparent hover:bg-magenta p-3 cursor-pointer rounded-[60px] duration-500;
}

.el:hover svg path{
    fill: var(--white);
}
.parallax{
    background: url(../assets/img/paral.png);
    background-repeat: repeat;
    background-position: left ;

    
}
#parallax2 .blocks .items img,#parallax4 .blocks .items img{
    width: 100%;
}

.m-bot{
    margin-bottom: -200px;
}
.p-top{
    padding-top: 200px;
}
#parallax7 .blocks,#parallax5 .blocks,#parallax2 .blocks,#parallax4 .blocks{
    @apply grid grid-cols-4 gap-6;
    margin: 30px 0;
}
#parallax7 .items, #parallax5 .items, #parallax2 .items{
    //@apply grid grid-rows-2;
    display: flex;
    flex-direction: column;
}
.minib{
    @apply bg-dblue rounded-[60px] flex  cursor-pointer;
    position: absolute;
    top:-30px;
    left: 20px;
    overflow: hidden;
    max-width: 50px;
    padding: 5px;
    transition: all 1.5s;
}

.minib svg{
    min-width: 1px;
}

.minib span{
    @apply text-24px text-white;
    
    transition: all 0.75s;
    overflow: hidden;
    width: 0;
    overflow: hidden;
}
.minib:hover span{
    width: 100%;
    transition: all 1s;
}
.minib:hover{
    max-width: 300px;
}

.pointer-events-all{
    pointer-events: all !important;
    filter:none !important;
}
.round60px{
    @apply rounded-[60px];;
}
#parallax3{
    height: 200px;
    width: 100%;
}
a{
    cursor: pointer;
}
.cont{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}



.mapblock{
    @apply drop-shadow-2xl;
    padding: 0;
    left:0;top:0;
    width:100%;
    height:auto;
    padding:50px;
    z-index:10;
    background-color: var(--white);
    border-radius:  60px 60px 0 0 ;
}


.boxmap{
    @apply w-full rounded-[60px];
    position: absolute;
    height:700px;
    filter: blur(2px);
    pointer-events: none;
    overflow: hidden;
    background-color: var(--transparent);
    border-radius: 0 0 60px 60px ;
    transition: 0.5s;
}
#mapsection{
    height: 1200px;
}

.grid.pb-5.grid-cols-1.gap-10.xl\:grid-cols-2 * {
    text-align: center;
    justify-content: center;
}
.flex{
    display: flex !important;
}

.text-24px.text-dblue.bold.pb-5 {
    text-align: center;
}
.flex.gap-2 {
    justify-content: center;
}
.gono{
    max-height: 200px;
    transition: 1s;
}
.kartinochki{
    max-width: 100px;
}

.max-height{
    max-height: 1000px !important;
    transition: 1s !important;
}

@media (max-width:320px) {
    .d.m-bot{
        margin-bottom: -100px;
    }
    
}


@media(min-width:480px){
    .kartinochki{
        max-width: 140px;
    }
    .text-24px.text-dblue.bold.pb-5 {
        text-align: left;
    }
    .flex.gap-2 {
        justify-content: left;
    }
    #mapsection{
        height: 1100px;
    }
    .grid.pb-5.grid-cols-1.gap-10.xl\:grid-cols-2 * {
        text-align: left;
        justify-content:left;
    }
}


@media(min-width:720px){
    .gono{
        max-height: 100px;
    }
    #parallax .items{
        height: 300px;
    }
    .kartinochki{
        max-width:100%;
    }
    .swiper{
        height: 800px;
    }
    #mapsection{
        height: 700px;
    }
    
    .mapblock{
        @apply block absolute  rounded-[60px];
        padding:25px;
        display: block;
        position: absolute;
        width:500px;height:75%; left:8vh;top:7vh;z-index:10;
        background-color: var(--white);
        
    }
    .boxmap{
        @apply w-full rounded-[60px];
        
    }
}

@media(min-width:1024px){
    .bord{
        border-right-width: thin;border-color: var(--fucsia);
    }
    .cont{
        margin: 0 100px;
        align-items: flex-start;
    }
}
